intelligent-work-layer/src/flow-6-daily-briefing.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 15
        }
      }
    },
    "actions": {
      "Initialize_OneNote_SectionId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OneNote_BriefingsDailySectionId",
              "type": "string",
              "value": "@parameters('OneNote_BriefingsDailySectionId')"
            }
          ]
        },
        "runAfter": {}
      },
      "Scope_Daily_Briefing": {
        "type": "Scope",
        "actions": {
          "List_BriefingSchedules": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_briefingschedules",
                "$filter": "cr_isenabled eq true"
              },
              "host": {
                "operationId": "ListRecords",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "authentication": "@parameters('$authentication')"
            },
            "runAfter": {}
          },
          "Apply_to_each_schedule": {
            "type": "Foreach",
            "foreach": "@body('List_BriefingSchedules')?['value']",
            "actions": {
              "Compose_UserLocalTime": {
                "type": "Compose",
                "inputs": "@convertTimeZone(utcNow(), 'UTC', items('Apply_to_each_schedule')?['cr_timezone'])",
                "runAfter": {}
              },
              "Compose_CurrentHour": {
                "type": "Compose",
                "inputs": "@int(formatDateTime(outputs('Compose_UserLocalTime'), 'HH'))",
                "runAfter": {
                  "Compose_UserLocalTime": [
                    "Succeeded"
                  ]
                }
              },
              "Compose_CurrentDay": {
                "type": "Compose",
                "inputs": "@formatDateTime(outputs('Compose_UserLocalTime'), 'dddd')",
                "runAfter": {
                  "Compose_UserLocalTime": [
                    "Succeeded"
                  ]
                }
              },
              "Condition_Time_Matches": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@outputs('Compose_CurrentHour')",
                        "@items('Apply_to_each_schedule')?['cr_schedulehour']"
                      ]
                    },
                    {
                      "contains": [
                        "@items('Apply_to_each_schedule')?['cr_scheduledays']",
                        "@outputs('Compose_CurrentDay')"
                      ]
                    }
                  ]
                },
                "actions": {
                  "List_Existing_Briefing": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_assistantcards",
                        "$filter": "cr_triggertype eq 100000003 and _ownerid_value eq '@{items('Apply_to_each_schedule')?['_cr_userid_value']}' and createdon ge @{addHours(utcNow(), -20)}"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  },
                  "Condition_No_Duplicate": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@length(body('List_Existing_Briefing')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Get_User_Profile": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "id": "@items('Apply_to_each_schedule')?['_cr_userid_value']"
                          },
                          "host": {
                            "operationId": "UserProfile_V2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                            "connectionName": "shared_office365users"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      },
                      "List_Open_Cards": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "$filter": "_ownerid_value eq '@{items('Apply_to_each_schedule')?['_cr_userid_value']}' and cr_cardoutcome eq 100000000",
                            "$top": 50,
                            "$orderby": "createdon desc"
                          },
                          "host": {
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      },
                      "List_Stale_Cards": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "$filter": "_ownerid_value eq '@{items('Apply_to_each_schedule')?['_cr_userid_value']}' and cr_cardoutcome eq 100000000 and cr_priority ne 100000003 and createdon lt @{addHours(utcNow(), -24)}"
                          },
                          "host": {
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      },
                      "Get_Today_Calendar": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "calendarId": "Calendar",
                            "startDateTimeUtc": "@startOfDay(outputs('Compose_UserLocalTime'))",
                            "endDateTimeUtc": "@addDays(startOfDay(outputs('Compose_UserLocalTime')), 1)",
                            "$top": 50
                          },
                          "host": {
                            "operationId": "CalendarGetOnNewItemsV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                            "connectionName": "shared_office365"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      },
                      "List_SenderProfiles": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "$filter": "_ownerid_value eq '@{items('Apply_to_each_schedule')?['_cr_userid_value']}'"
                          },
                          "host": {
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      },
                      "Compose_BriefingInput": {
                        "type": "Compose",
                        "inputs": {
                          "open_cards": "@body('List_Open_Cards')?['value']",
                          "stale_cards": "@body('List_Stale_Cards')?['value']",
                          "today_calendar": "@body('Get_Today_Calendar')?['value']",
                          "sender_profiles": "@body('List_SenderProfiles')?['value']",
                          "user_context": {
                            "display_name": "@outputs('Get_User_Profile')?['body/displayName']",
                            "email": "@outputs('Get_User_Profile')?['body/mail']",
                            "timezone": "@items('Apply_to_each_schedule')?['cr_timezone']"
                          },
                          "current_datetime": "@utcNow()"
                        },
                        "runAfter": {
                          "Get_User_Profile": [
                            "Succeeded"
                          ],
                          "List_Open_Cards": [
                            "Succeeded"
                          ],
                          "List_Stale_Cards": [
                            "Succeeded"
                          ],
                          "Get_Today_Calendar": [
                            "Succeeded"
                          ],
                          "List_SenderProfiles": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Execute_Briefing_Agent": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "botId": "@parameters('BriefingAgentBotId')",
                            "message": "@{string(outputs('Compose_BriefingInput'))}"
                          },
                          "host": {
                            "operationId": "ExecuteAgentAndWait",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                            "connectionName": "shared_microsoftcopilotstudio"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {
                          "Compose_BriefingInput": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Compose_OutputEnvelope": {
                        "type": "Compose",
                        "inputs": {
                          "triage_tier": "FULL",
                          "trigger_type": "DAILY_BRIEFING",
                          "confidence_score": 100,
                          "draft_payload": "@{string(body('Execute_Briefing_Agent'))}"
                        },
                        "runAfter": {
                          "Execute_Briefing_Agent": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Create_BriefingCard": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "item/cr_triggertype": 100000003,
                            "item/cr_triagetier": 100000002,
                            "item/cr_cardstatus": 100000000,
                            "item/cr_cardoutcome": 100000000,
                            "item/cr_fulljson": "@{string(outputs('Compose_OutputEnvelope'))}",
                            "item/cr_itemsummary": "Daily Briefing",
                            "item/cr_confidencescore": 100,
                            "item@odata.bind": "systemusers(@{items('Apply_to_each_schedule')?['_cr_userid_value']})"
                          },
                          "host": {
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {
                          "Compose_OutputEnvelope": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Scope_OneNote_Sync": {
                        "type": "Scope",
                        "actions": {
                          "Check_OneNote_Enabled": {
                            "type": "Compose",
                            "inputs": "@{true}",
                            "runAfter": {}
                          },
                          "Compose_BriefingDate": {
                            "type": "Compose",
                            "inputs": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                            "runAfter": {
                              "Check_OneNote_Enabled": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Compose_DayName": {
                            "type": "Compose",
                            "inputs": "@{formatDateTime(utcNow(), 'dddd')}",
                            "runAfter": {
                              "Check_OneNote_Enabled": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Compose_BriefingHtml": {
                            "type": "Compose",
                            "inputs": "@{replace(replace(replace(replace(replace(replace(replace(replace('<html><head><title>{{BRIEFING_DATE}} {{DAY_NAME}} — Daily Briefing</title><meta name=\"created\" content=\"{{CREATED_DATETIME}}\" /></head><body data-absolute-enabled=\"true\"><h1 style=\"color:#6366f1;\">{{DAY_NAME}} Daily Briefing</h1><p style=\"font-size:11px;color:#767676;\">{{BRIEFING_DATE}} | Generated by IWL</p><div data-id=\"day-shape\"><h2>Day Shape</h2><p>{{DAY_SHAPE_NARRATIVE}}</p></div><div data-id=\"action-items\"><h2>Action Items</h2><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f0f4ff;\"><th style=\"padding:8px;text-align:left;\">Rank</th><th style=\"padding:8px;text-align:left;\">Thread</th><th style=\"padding:8px;text-align:left;\">Action</th><th style=\"padding:8px;text-align:left;\">Urgency</th></tr>{{ACTION_ITEM_ROWS}}</table></div><div data-id=\"fyi\"><h2>FYI</h2>{{FYI_ITEMS}}</div><div data-id=\"stale\"><h2>Stale Alerts</h2>{{STALE_ALERTS}}</div><hr/><p style=\"color:gray;font-size:10px;\">Card ID: {{CARD_ID}} | Auto-generated by Intelligent Work Layer</p></body></html>', '{{BRIEFING_DATE}}', outputs('Compose_BriefingDate')), '{{DAY_NAME}}', outputs('Compose_DayName')), '{{CREATED_DATETIME}}', utcNow()), '{{CARD_ID}}', body('Create_BriefingCard')?['cr_assistantcardid']), '{{DAY_SHAPE_NARRATIVE}}', coalesce(body('Create_BriefingCard')?['cr_itemsummary'], 'No briefing narrative available.')), '{{ACTION_ITEM_ROWS}}', ''), '{{FYI_ITEMS}}', '<p>No FYI items today.</p>'), '{{STALE_ALERTS}}', '<p>No stale alerts.</p>')}",
                            "runAfter": {
                              "Compose_BriefingDate": [
                                "Succeeded"
                              ],
                              "Compose_DayName": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Create_Briefing_Page": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "request/method": "POST",
                                "request/url": "https://graph.microsoft.com/v1.0/me/onenote/sections/@{variables('OneNote_BriefingsDailySectionId')}/pages",
                                "request/headers": {
                                  "Content-Type": "application/xhtml+xml"
                                },
                                "request/body": "@{outputs('Compose_BriefingHtml')}"
                              },
                              "host": {
                                "connectionName": "shared_webcontents",
                                "operationId": "InvokeHttp",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                              }
                            },
                            "runAfter": {
                              "Compose_BriefingHtml": [
                                "Succeeded"
                              ]
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT10S",
                              "minimumInterval": "PT10S",
                              "maximumInterval": "PT1M"
                            }
                          },
                          "Update_Card_PageId": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cr_assistantcards",
                                "recordId": "@{body('Create_BriefingCard')?['cr_assistantcardid']}",
                                "item/cr_onenotepageid": "@{body('Create_Briefing_Page')?['id']}",
                                "item/cr_onenotesyncstatus": 100000000
                              },
                              "host": {
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runAfter": {
                              "Create_Briefing_Page": [
                                "Succeeded"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Create_BriefingCard": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Scope_OneNote_Error_Handler": {
                        "type": "Scope",
                        "actions": {
                          "Update_Card_SyncFailed": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "cr_assistantcards",
                                "recordId": "@{body('Create_BriefingCard')?['cr_assistantcardid']}",
                                "item/cr_onenotesyncstatus": 100000001
                              },
                              "host": {
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "connectionName": "shared_commondataserviceforapps"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runAfter": {}
                          },
                          "Compose_OneNote_ErrorDetails": {
                            "type": "Compose",
                            "inputs": {
                              "error": "OneNote sync failed for daily briefing",
                              "card_id": "@{body('Create_BriefingCard')?['cr_assistantcardid']}",
                              "flow": "flow-6-daily-briefing",
                              "timestamp": "@utcNow()"
                            },
                            "runAfter": {
                              "Update_Card_SyncFailed": [
                                "Succeeded"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Scope_OneNote_Sync": [
                            "Failed",
                            "TimedOut"
                          ]
                        }
                      },
                      "Post_Briefing_Notification": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "poster": "Flow bot",
                            "location": "Chat with Flow bot",
                            "body": {
                              "recipient": {
                                "to": "@{items('Apply_to_each_schedule')?['_cr_userid_value']}"
                              },
                              "messageBody": "<p>Good morning <strong>@{outputs('Get_User_Profile')?['body/displayName']}</strong></p><p>You have items needing attention today:</p><p>@{body('Create_BriefingCard')?['cr_itemsummary']}</p><p><a href='https://apps.powerapps.com/'>Open Dashboard</a></p>"
                            }
                          },
                          "host": {
                            "operationId": "PostMessageToConversation",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                            "connectionName": "shared_teams"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {
                          "Create_BriefingCard": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "List_Existing_Briefing": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Compose_CurrentHour": [
                    "Succeeded"
                  ],
                  "Compose_CurrentDay": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {
              "List_BriefingSchedules": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Initialize_OneNote_SectionId": [
            "Succeeded"
          ]
        }
      },
      "Scope_Handle_Error": {
        "type": "Scope",
        "actions": {
          "Terminate_Failed": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "500",
                "message": "Daily briefing flow failed unexpectedly"
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Scope_Daily_Briefing": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      },
      "OneNote_BriefingsDailySectionId": {
        "defaultValue": "",
        "type": "String"
      }
    }
  }
}
