intelligent-work-layer/src/flow-5-card-outcome-tracker.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_a_row_is_modified": {
        "type": "OpenApiConnectionNotification",
        "inputs": {
          "parameters": {
            "entityName": "cr_assistantcards",
            "scope": "Organization",
            "filterExpression": "",
            "selectedColumns": "cr_cardoutcome"
          },
          "host": {
            "operationId": "SubscribeWebhookTrigger",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "authentication": "@parameters('$authentication')"
        }
      }
    },
    "actions": {
      "Scope_Outcome_Tracker": {
        "type": "Scope",
        "actions": {
          "Get_Modified_Card": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_assistantcards",
                "recordId": "@triggerOutputs()?['body/cr_assistantcardid']"
              },
              "host": {
                "operationId": "GetItem",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "authentication": "@parameters('$authentication')"
            },
            "runAfter": {}
          },
          "Compose_Outcome": {
            "type": "Compose",
            "inputs": "@outputs('Get_Modified_Card')?['body/cr_cardoutcome']",
            "runAfter": {
              "Get_Modified_Card": [
                "Succeeded"
              ]
            }
          },
          "Switch_On_Outcome": {
            "type": "Switch",
            "expression": "@outputs('Compose_Outcome')",
            "cases": {
              "Case_Sent_As_Is": {
                "case": 100000001,
                "actions": {
                  "Compose_ResponseHours_SentAsIs": {
                    "type": "Compose",
                    "inputs": "@div(sub(ticks(outputs('Get_Modified_Card')?['body/cr_outcometimestamp']), ticks(outputs('Get_Modified_Card')?['body/createdon'])), 36000000000)",
                    "runAfter": {}
                  },
                  "List_SenderProfile_SentAsIs": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                      "Compose_ResponseHours_SentAsIs": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Profile_Exists_SentAsIs": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_SentAsIs')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_SentAsIs": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_senderprofileid']",
                            "item/cr_responsecount": "@add(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 1)",
                            "item/cr_avgresponsehours": "@div(add(mul(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_avgresponsehours'], first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount']), outputs('Compose_ResponseHours_SentAsIs')), add(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 1))"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_SentAsIs": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 1,
                              "item/cr_dismisscount": 0,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": "@outputs('Compose_ResponseHours_SentAsIs')",
                              "item/cr_avgeditdistance": 0,
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_SentAsIs": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Sent_Edited": {
                "case": 100000002,
                "actions": {
                  "Compose_ResponseHours_SentEdited": {
                    "type": "Compose",
                    "inputs": "@div(sub(ticks(outputs('Get_Modified_Card')?['body/cr_outcometimestamp']), ticks(outputs('Get_Modified_Card')?['body/createdon'])), 36000000000)",
                    "runAfter": {}
                  },
                  "List_SenderProfile_SentEdited": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                      "Compose_ResponseHours_SentEdited": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Profile_Exists_SentEdited": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_SentEdited')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_SentEdited": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_SentEdited')?['value'])?['cr_senderprofileid']",
                            "item/cr_responsecount": "@add(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 1)",
                            "item/cr_avgresponsehours": "@div(add(mul(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_avgresponsehours'], first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount']), outputs('Compose_ResponseHours_SentEdited')), add(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 1))",
                            "item/cr_avgeditdistance": "@outputs('Compose_NewAvgEditDistance_SentEdited')"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {
                          "Compose_NewAvgEditDistance_SentEdited": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Compose_NewAvgEditDistance_SentEdited": {
                        "type": "Compose",
                        "inputs": "@div(add(mul(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_avgeditdistance'], first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount']), outputs('Get_Modified_Card')?['body/cr_editdistanceratio']), add(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 1))",
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_SentEdited": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 1,
                              "item/cr_dismisscount": 0,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": "@outputs('Compose_ResponseHours_SentEdited')",
                              "item/cr_avgeditdistance": "@outputs('Get_Modified_Card')?['body/cr_editdistanceratio']",
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_SentEdited": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Dismissed": {
                "case": 100000003,
                "actions": {
                  "List_SenderProfile_Dismissed": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {}
                  },
                  "Condition_Profile_Exists_Dismissed": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_Dismissed')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_Dismissed": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_Dismissed')?['value'])?['cr_senderprofileid']",
                            "item/cr_dismisscount": "@add(first(body('List_SenderProfile_Dismissed')?['value'])?['cr_dismisscount'], 1)"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_Dismissed": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 0,
                              "item/cr_dismisscount": 1,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": 0,
                              "item/cr_avgeditdistance": 0,
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_Dismissed": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Expired": {
                "case": 100000004,
                "actions": {
                  "Terminate_Expired": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "default": {
              "actions": {}
            },
            "runAfter": {
              "Compose_Outcome": [
                "Succeeded"
              ]
            }
          },
          "Condition_Not_Expired": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "not": {
                    "equals": [
                      "@outputs('Compose_Outcome')",
                      100000004
                    ]
                  }
                }
              ]
            },
            "actions": {
              "Compose_Is_Accepted": {
                "type": "Compose",
                "inputs": "@if(or(equals(outputs('Compose_Outcome'), 100000001), equals(outputs('Compose_Outcome'), 100000002)), true, false)",
                "runAfter": {}
              },
              "Get_Owner_Persona": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_userpersonas",
                    "$filter": "_ownerid_value eq '@{outputs('Get_Modified_Card')?['body/_ownerid_value']}'"
                  },
                  "host": {
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Compose_Is_Accepted": [
                    "Succeeded"
                  ]
                }
              },
              "Condition_Persona_Exists": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('Get_Owner_Persona')?['value'])",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "Compose_Old_Rate": {
                    "type": "Compose",
                    "inputs": "@first(body('Get_Owner_Persona')?['value'])?['cr_acceptancerate']",
                    "runAfter": {}
                  },
                  "Compose_New_Acceptance_Rate": {
                    "type": "Compose",
                    "inputs": "@if(equals(outputs('Compose_Is_Accepted'), true), add(mul(0.3, 1.0), mul(0.7, float(outputs('Compose_Old_Rate')))), add(mul(0.3, 0.0), mul(0.7, float(outputs('Compose_Old_Rate')))))",
                    "runAfter": {
                      "Compose_Old_Rate": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Compose_New_Total_Interactions": {
                    "type": "Compose",
                    "inputs": "@add(first(body('Get_Owner_Persona')?['value'])?['cr_totalinteractions'], 1)",
                    "runAfter": {}
                  },
                  "Update_Persona_Record": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_userpersonas",
                        "recordId": "@first(body('Get_Owner_Persona')?['value'])?['cr_userpersonaid']",
                        "item/cr_totalinteractions": "@outputs('Compose_New_Total_Interactions')",
                        "item/cr_acceptancerate": "@outputs('Compose_New_Acceptance_Rate')"
                      },
                      "host": {
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    },
                    "runAfter": {
                      "Compose_New_Acceptance_Rate": [
                        "Succeeded"
                      ],
                      "Compose_New_Total_Interactions": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Observer_To_Assist": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@first(body('Get_Owner_Persona')?['value'])?['cr_autonomytier']",
                            "OBSERVER"
                          ]
                        },
                        {
                          "greater": [
                            "@outputs('Compose_New_Total_Interactions')",
                            50
                          ]
                        },
                        {
                          "greater": [
                            "@float(outputs('Compose_New_Acceptance_Rate'))",
                            0.70
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Create_Assist_Suggestion_Card": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "item/cr_triggertype": "PATTERN_ALERT",
                            "item/cr_triagetier": "LIGHT",
                            "item/cr_itemsummary": "Would you like to enable Assist mode? You have processed over 50 interactions with an acceptance rate above 70%. Assist mode lets the system auto-dismiss low-value items and auto-send high-confidence drafts with an undo window.",
                            "item/cr_cardstatus": "PENDING",
                            "item/_ownerid_value": "@outputs('Get_Modified_Card')?['body/_ownerid_value']"
                          },
                          "host": {
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "Update_Persona_Record": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Assist_To_Partner": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@first(body('Get_Owner_Persona')?['value'])?['cr_autonomytier']",
                            "ASSIST"
                          ]
                        },
                        {
                          "greater": [
                            "@outputs('Compose_New_Total_Interactions')",
                            200
                          ]
                        },
                        {
                          "greater": [
                            "@float(outputs('Compose_New_Acceptance_Rate'))",
                            0.85
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Create_Partner_Suggestion_Card": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "item/cr_triggertype": "PATTERN_ALERT",
                            "item/cr_triagetier": "LIGHT",
                            "item/cr_itemsummary": "Would you like to enable Partner mode? You have processed over 200 interactions with an acceptance rate above 85%. Partner mode lowers auto-send thresholds and auto-dismisses all routine items, surfacing only exceptions.",
                            "item/cr_cardstatus": "PENDING",
                            "item/_ownerid_value": "@outputs('Get_Modified_Card')?['body/_ownerid_value']"
                          },
                          "host": {
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "Update_Persona_Record": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Get_Owner_Persona": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Switch_On_Outcome": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {}
      },
      "Scope_Handle_Error": {
        "type": "Scope",
        "actions": {
          "Terminate_Failed": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "500",
                "message": "Card outcome tracker failed unexpectedly"
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Scope_Outcome_Tracker": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      }
    }
  }
}