intelligent-work-layer/src/flow-5-card-outcome-tracker.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_a_row_is_modified": {
        "type": "OpenApiConnectionNotification",
        "inputs": {
          "parameters": {
            "entityName": "cr_assistantcards",
            "scope": "Organization",
            "filterExpression": "",
            "selectedColumns": "cr_cardoutcome"
          },
          "host": {
            "operationId": "SubscribeWebhookTrigger",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
            "connectionName": "shared_commondataserviceforapps"
          },
          "authentication": "@parameters('$authentication')"
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        }
      }
    },
    "actions": {
      "Scope_Outcome_Tracker": {
        "type": "Scope",
        "actions": {
          "Get_Modified_Card": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_assistantcards",
                "recordId": "@triggerOutputs()?['body/cr_assistantcardid']"
              },
              "host": {
                "operationId": "GetItem",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "authentication": "@parameters('$authentication')",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {}
          },
          "Compose_Outcome": {
            "type": "Compose",
            "inputs": "@outputs('Get_Modified_Card')?['body/cr_cardoutcome']",
            "runAfter": {
              "Get_Modified_Card": [
                "Succeeded"
              ]
            }
          },
          "Switch_On_Outcome": {
            "type": "Switch",
            "expression": "@outputs('Compose_Outcome')",
            "cases": {
              "Case_Sent_As_Is": {
                "case": 100000001,
                "actions": {
                  "Compose_ResponseHours_SentAsIs": {
                    "type": "Compose",
                    "inputs": "@if(equals(outputs('Get_Modified_Card')?['body/cr_outcometimestamp'], null), 0, div(sub(ticks(outputs('Get_Modified_Card')?['body/cr_outcometimestamp']), ticks(outputs('Get_Modified_Card')?['body/createdon'])), 36000000000))",
                    "runAfter": {}
                  },
                  "List_SenderProfile_SentAsIs": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S",
                        "maximumInterval": "PT1M"
                      }
                    },
                    "runAfter": {
                      "Compose_ResponseHours_SentAsIs": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Profile_Exists_SentAsIs": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_SentAsIs')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_SentAsIs": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_senderprofileid']",
                            "item/cr_responsecount": "@add(coalesce(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 0), 1)",
                            "item/cr_avgresponsehours": "@if(equals(add(coalesce(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 0), 1), 0), 0, div(add(mul(coalesce(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_avgresponsehours'], 0), coalesce(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 0)), outputs('Compose_ResponseHours_SentAsIs')), add(coalesce(first(body('List_SenderProfile_SentAsIs')?['value'])?['cr_responsecount'], 0), 1)))"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')",
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 3,
                            "interval": "PT10S",
                            "maximumInterval": "PT1M"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_SentAsIs": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 1,
                              "item/cr_dismisscount": 0,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": "@outputs('Compose_ResponseHours_SentAsIs')",
                              "item/cr_avgeditdistance": 0,
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT10S",
                              "maximumInterval": "PT1M"
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_SentAsIs": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Sent_Edited": {
                "case": 100000002,
                "actions": {
                  "Compose_ResponseHours_SentEdited": {
                    "type": "Compose",
                    "inputs": "@if(equals(outputs('Get_Modified_Card')?['body/cr_outcometimestamp'], null), 0, div(sub(ticks(outputs('Get_Modified_Card')?['body/cr_outcometimestamp']), ticks(outputs('Get_Modified_Card')?['body/createdon'])), 36000000000))",
                    "runAfter": {}
                  },
                  "List_SenderProfile_SentEdited": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S",
                        "maximumInterval": "PT1M"
                      }
                    },
                    "runAfter": {
                      "Compose_ResponseHours_SentEdited": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Profile_Exists_SentEdited": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_SentEdited')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_SentEdited": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_SentEdited')?['value'])?['cr_senderprofileid']",
                            "item/cr_responsecount": "@add(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0), 1)",
                            "item/cr_avgresponsehours": "@if(equals(add(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0), 1), 0), 0, div(add(mul(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_avgresponsehours'], 0), coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0)), outputs('Compose_ResponseHours_SentEdited')), add(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0), 1)))",
                            "item/cr_avgeditdistance": "@outputs('Compose_NewAvgEditDistance_SentEdited')"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')",
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 3,
                            "interval": "PT10S",
                            "maximumInterval": "PT1M"
                          }
                        },
                        "runAfter": {
                          "Compose_NewAvgEditDistance_SentEdited": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Compose_NewAvgEditDistance_SentEdited": {
                        "type": "Compose",
                        "inputs": "@if(equals(add(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0), 1), 0), 0, div(add(mul(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_avgeditdistance'], 0), coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0)), coalesce(outputs('Get_Modified_Card')?['body/cr_editdistanceratio'], 0)), add(coalesce(first(body('List_SenderProfile_SentEdited')?['value'])?['cr_responsecount'], 0), 1)))",
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_SentEdited": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 1,
                              "item/cr_dismisscount": 0,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": "@outputs('Compose_ResponseHours_SentEdited')",
                              "item/cr_avgeditdistance": "@outputs('Get_Modified_Card')?['body/cr_editdistanceratio']",
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT10S",
                              "maximumInterval": "PT1M"
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_SentEdited": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Dismissed": {
                "case": 100000003,
                "actions": {
                  "List_SenderProfile_Dismissed": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "$filter": "cr_senderemail eq '@{outputs('Get_Modified_Card')?['body/cr_originalsenderemail']}'"
                      },
                      "host": {
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S",
                        "maximumInterval": "PT1M"
                      }
                    },
                    "runAfter": {}
                  },
                  "Condition_Profile_Exists_Dismissed": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('List_SenderProfile_Dismissed')?['value'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_SenderProfile_Dismissed": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_senderprofiles",
                            "recordId": "@first(body('List_SenderProfile_Dismissed')?['value'])?['cr_senderprofileid']",
                            "item/cr_dismisscount": "@add(coalesce(first(body('List_SenderProfile_Dismissed')?['value'])?['cr_dismisscount'], 0), 1)"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')",
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 3,
                            "interval": "PT10S",
                            "maximumInterval": "PT1M"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_SenderProfile_Dismissed": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_senderprofiles",
                              "item/cr_senderemail": "@outputs('Get_Modified_Card')?['body/cr_originalsenderemail']",
                              "item/cr_senderdisplayname": "@outputs('Get_Modified_Card')?['body/cr_originalsenderdisplay']",
                              "item/cr_responsecount": 0,
                              "item/cr_dismisscount": 1,
                              "item/cr_signalcount": 1,
                              "item/cr_avgresponsehours": 0,
                              "item/cr_avgeditdistance": 0,
                              "item/cr_lastsignaldate": "@utcNow()"
                            },
                            "host": {
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')",
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 3,
                              "interval": "PT10S",
                              "maximumInterval": "PT1M"
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "List_SenderProfile_Dismissed": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "Case_Expired": {
                "case": 100000004,
                "actions": {
                  "Terminate_Expired": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "default": {
              "actions": {}
            },
            "runAfter": {
              "Compose_Outcome": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {}
      },
      "Scope_Handle_Error": {
        "type": "Scope",
        "actions": {
          "Terminate_Failed": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "500",
                "message": "Card outcome tracker failed unexpectedly"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          },
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": {
              "flowName": "IWL-Flow-5-CardOutcomeTracker",
              "errorTimestamp": "@utcNow()",
              "errorMessage": "IWL-Flow-5-CardOutcomeTracker failed during processing. Check run history for details.",
              "scopeResult": "@{result('Scope_Outcome_Tracker')}"
            },
            "runAfter": {}
          },
          "Create_ErrorLog": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_errorlogs",
                "item/cr_flowname": "IWL-Flow-5-CardOutcomeTracker",
                "item/cr_occurredon": "@utcNow()",
                "item/cr_errordetail": "@{outputs('Compose_ErrorDetails')}",
                "item/cr_errorseverity": "Error"
              },
              "host": {
                "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Outcome_Tracker": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      }
    }
  }
}
