intelligent-work-layer/src/flow-3-calendar-trigger.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_Daily_7AM": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": [
              "7"
            ],
            "minutes": [
              0
            ]
          },
          "timeZone": "Eastern Standard Time"
        }
      }
    },
    "actions": {
      "Scope_Process_Calendar": {
        "type": "Scope",
        "actions": {
          "Get_my_profile_(V2)": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {},
              "host": {
                "operationId": "MyProfile_V2",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                "connectionName": "shared_office365users"
              },
              "authentication": "@parameters('$authentication')",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {}
          },
          "Compose_StartDate": {
            "type": "Compose",
            "inputs": "@formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ssZ')",
            "runAfter": {
              "Get_my_profile_(V2)": [
                "Succeeded"
              ]
            }
          },
          "Compose_EndDate": {
            "type": "Compose",
            "inputs": "@formatDateTime(addDays(utcNow(), 14), 'yyyy-MM-ddTHH:mm:ssZ')",
            "runAfter": {
              "Compose_StartDate": [
                "Succeeded"
              ]
            }
          },
          "Get_Events": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "calendarId": "Calendar",
                "startDateTimeUtc": "@outputs('Compose_StartDate')",
                "endDateTimeUtc": "@outputs('Compose_EndDate')",
                "$top": 200
              },
              "host": {
                "operationId": "GetEventsCalendarViewV3",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                "connectionName": "shared_office365"
              },
              "authentication": "@parameters('$authentication')",
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {
              "Compose_EndDate": [
                "Succeeded"
              ]
            }
          },
          "Filter_Events": {
            "type": "Query",
            "inputs": {
              "from": "@outputs('Get_Events')?['body/value']",
              "where": "@and(not(contains(toLower(coalesce(item()?['subject'], '')), 'focus time')), not(contains(toLower(coalesce(item()?['subject'], '')), 'lunch')), not(contains(toLower(coalesce(item()?['subject'], '')), 'ooo')), not(contains(toLower(coalesce(item()?['subject'], '')), 'hold')), not(contains(toLower(coalesce(item()?['subject'], '')), 'holiday')), not(contains(toLower(coalesce(item()?['subject'], '')), 'personal')), not(contains(toLower(coalesce(item()?['subject'], '')), 'private')), not(equals(item()?['showAs'], 'free')))"
            },
            "runAfter": {
              "Get_Events": [
                "Succeeded"
              ]
            }
          },
          "Apply_to_each_event": {
            "type": "Foreach",
            "foreach": "@body('Filter_Events')",
            "actions": {
              "Compose_OrganizerEmail": {
                "type": "Compose",
                "inputs": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['address'], '')",
                "runAfter": {}
              },
              "Compose_ClusterId": {
                "type": "Compose",
                "inputs": "@if(not(equals(coalesce(items('Apply_to_each_event')?['seriesMasterId'], ''), '')), items('Apply_to_each_event')?['seriesMasterId'], concat(replace(toLower(coalesce(items('Apply_to_each_event')?['subject'], '')), ' ', '_'), '|', toLower(coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['address'], ''))))",
                "runAfter": {
                  "Compose_OrganizerEmail": [
                    "Succeeded"
                  ]
                }
              },
              "Compose_TemporalHorizon": {
                "type": "Compose",
                "inputs": "@if(lessOrEquals(ticks(items('Apply_to_each_event')?['start']?['dateTime']), ticks(addDays(utcNow(), 1))), 'TODAY', if(lessOrEquals(ticks(items('Apply_to_each_event')?['start']?['dateTime']), ticks(addDays(utcNow(), 7))), 'THIS_WEEK', if(lessOrEquals(ticks(items('Apply_to_each_event')?['start']?['dateTime']), ticks(addDays(utcNow(), 14))), 'NEXT_WEEK', 'BEYOND')))",
                "runAfter": {
                  "Compose_ClusterId": [
                    "Succeeded"
                  ]
                }
              },
              "List_SenderProfile": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_senderprofiles",
                    "$filter": "cr_senderemail eq '@{outputs('Compose_OrganizerEmail')}'",
                    "$top": 1
                  },
                  "host": {
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps"
                  },
                  "authentication": "@parameters('$authentication')",
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                  }
                },
                "runAfter": {
                  "Compose_TemporalHorizon": [
                    "Succeeded"
                  ]
                }
              },
              "Compose_SenderProfile": {
                "type": "Compose",
                "inputs": "@if(greater(length(outputs('List_SenderProfile')?['body/value']), 0), string(first(outputs('List_SenderProfile')?['body/value'])), 'null')",
                "runAfter": {
                  "List_SenderProfile": [
                    "Succeeded"
                  ]
                }
              },
              "Compose_AgentPayload": {
                "type": "Compose",
                "inputs": {
                  "TRIGGER_TYPE": "CALENDAR_SCAN",
                  "PAYLOAD": {
                    "subject": "@items('Apply_to_each_event')?['subject']",
                    "body": "@coalesce(items('Apply_to_each_event')?['bodyPreview'], '')",
                    "start": "@items('Apply_to_each_event')?['start']",
                    "end": "@items('Apply_to_each_event')?['end']",
                    "location": "@coalesce(items('Apply_to_each_event')?['location']?['displayName'], '')",
                    "organizer": {
                      "email": "@outputs('Compose_OrganizerEmail')",
                      "displayName": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['name'], '')"
                    },
                    "attendees": "@coalesce(items('Apply_to_each_event')?['attendees'], json('[]'))",
                    "isRecurring": "@not(equals(coalesce(items('Apply_to_each_event')?['seriesMasterId'], ''), ''))",
                    "onlineMeetingUrl": "@coalesce(items('Apply_to_each_event')?['onlineMeetingUrl'], '')",
                    "eventId": "@items('Apply_to_each_event')?['id']"
                  },
                  "USER_CONTEXT": {
                    "userId": "@outputs('Get_my_profile_(V2)')?['body/id']",
                    "userEmail": "@outputs('Get_my_profile_(V2)')?['body/mail']",
                    "userDisplayName": "@outputs('Get_my_profile_(V2)')?['body/displayName']",
                    "userDomain": "@split(outputs('Get_my_profile_(V2)')?['body/mail'], '@')[1]"
                  },
                  "CURRENT_DATETIME": "@utcNow()",
                  "SENDER_PROFILE": "@outputs('Compose_SenderProfile')"
                },
                "runAfter": {
                  "Compose_SenderProfile": [
                    "Succeeded"
                  ]
                }
              },
              "Execute_EWA_Agent": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "botId": "<ewa-agent-schema-name>",
                    "message": "@{string(outputs('Compose_AgentPayload'))}"
                  },
                  "host": {
                    "operationId": "ExecuteAgentAndWait",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                    "connectionName": "shared_microsoftcopilotstudio"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 2,
                    "interval": "PT15S"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Compose_AgentPayload": [
                    "Succeeded"
                  ]
                }
              },
              "Parse_Agent_Response": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@{outputs('Execute_EWA_Agent')?['body/lastResponse']}",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "triage_tier": {
                        "type": "string"
                      },
                      "item_summary": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string"
                      },
                      "temporal_horizon": {
                        "type": "string"
                      },
                      "confidence_score": {
                        "type": "integer"
                      },
                      "card_status": {
                        "type": "string"
                      },
                      "trigger_type": {
                        "type": "string"
                      },
                      "original_sender_email": {
                        "type": "string"
                      },
                      "original_sender_display": {
                        "type": "string"
                      },
                      "original_subject": {
                        "type": "string"
                      },
                      "conversation_cluster_id": {
                        "type": "string"
                      },
                      "source_signal_id": {
                        "type": "string"
                      },
                      "full_json": {
                        "type": "string"
                      },
                      "draft_payload": {
                        "type": "object"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Execute_EWA_Agent": [
                    "Succeeded"
                  ]
                }
              },
              "Condition_Not_Skip": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('Parse_Agent_Response')?['triage_tier']",
                          "SKIP"
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "Create_AssistantCard": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_assistantcards",
                        "item/cr_itemsummary": "@take(coalesce(body('Parse_Agent_Response')?['item_summary'], ''), 300)",
                        "item/cr_triagetier": "@if(equals(body('Parse_Agent_Response')?['triage_tier'], 'FULL'), 100000002, if(equals(body('Parse_Agent_Response')?['triage_tier'], 'LIGHT'), 100000001, 100000000))",
                        "item/cr_triggertype": 100000002,
                        "item/cr_priority": "@if(equals(body('Parse_Agent_Response')?['priority'], 'High'), 100000000, if(equals(body('Parse_Agent_Response')?['priority'], 'Medium'), 100000001, if(equals(body('Parse_Agent_Response')?['priority'], 'Low'), 100000002, 100000003)))",
                        "item/cr_cardstatus": "@if(equals(body('Parse_Agent_Response')?['card_status'], 'READY'), 100000000, if(equals(body('Parse_Agent_Response')?['card_status'], 'LOW_CONFIDENCE'), 100000001, if(equals(body('Parse_Agent_Response')?['card_status'], 'SUMMARY_ONLY'), 100000002, 100000003)))",
                        "item/cr_temporalhorizon": "@if(equals(outputs('Compose_TemporalHorizon'), 'TODAY'), 100000000, if(equals(outputs('Compose_TemporalHorizon'), 'THIS_WEEK'), 100000001, if(equals(outputs('Compose_TemporalHorizon'), 'NEXT_WEEK'), 100000002, if(equals(outputs('Compose_TemporalHorizon'), 'BEYOND'), 100000003, 100000004))))",
                        "item/cr_confidencescore": "@body('Parse_Agent_Response')?['confidence_score']",
                        "item/cr_fulljson": "@coalesce(body('Parse_Agent_Response')?['full_json'], string(body('Parse_Agent_Response')))",
                        "item/cr_originalsenderemail": "@outputs('Compose_OrganizerEmail')",
                        "item/cr_originalsenderdisplay": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['name'], '')",
                        "item/cr_originalsubject": "@items('Apply_to_each_event')?['subject']",
                        "item/cr_conversationclusterid": "@outputs('Compose_ClusterId')",
                        "item/cr_sourcesignalid": "@items('Apply_to_each_event')?['id']",
                        "item/cr_cardoutcome": 100000000,
                        "item/ownerid": "@outputs('Get_my_profile_(V2)')?['body/id']"
                      },
                      "host": {
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S",
                        "maximumInterval": "PT1M"
                      }
                    },
                    "runAfter": {}
                  },
                  "Condition_Humanizer": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@body('Parse_Agent_Response')?['triage_tier']",
                            "FULL"
                          ]
                        },
                        {
                          "greaterOrEquals": [
                            "@body('Parse_Agent_Response')?['confidence_score']",
                            40
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Compose_HumanizerInput": {
                        "type": "Compose",
                        "inputs": {
                          "draft_payload": "@body('Parse_Agent_Response')?['draft_payload']",
                          "original_subject": "@items('Apply_to_each_event')?['subject']",
                          "original_sender_display": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['name'], '')",
                          "triage_tier": "@body('Parse_Agent_Response')?['triage_tier']",
                          "item_summary": "@body('Parse_Agent_Response')?['item_summary']"
                        },
                        "runAfter": {}
                      },
                      "Execute_Humanizer_Agent": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "botId": "<humanizer-agent-schema-name>",
                            "message": "@{string(outputs('Compose_HumanizerInput'))}"
                          },
                          "host": {
                            "operationId": "ExecuteAgentAndWait",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                            "connectionName": "shared_microsoftcopilotstudio"
                          },
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 2,
                            "interval": "PT15S"
                          },
                          "authentication": "@parameters('$authentication')"
                        },
                        "runAfter": {
                          "Compose_HumanizerInput": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Update_Card_Humanized": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_assistantcards",
                            "recordId": "@outputs('Create_AssistantCard')?['body/cr_assistantcardid']",
                            "item/cr_humanizeddraft": "@outputs('Execute_Humanizer_Agent')?['body/lastResponse']"
                          },
                          "host": {
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')",
                          "retryPolicy": {
                            "type": "exponential",
                            "count": 3,
                            "interval": "PT10S",
                            "maximumInterval": "PT1M"
                          }
                        },
                        "runAfter": {
                          "Execute_Humanizer_Agent": [
                            "Succeeded"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "Create_AssistantCard": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Parse_Agent_Response": [
                    "Succeeded"
                  ]
                }
              },
              "Delay_Rate_Limit": {
                "type": "Wait",
                "inputs": {
                  "interval": {
                    "count": 5,
                    "unit": "Second"
                  }
                },
                "runAfter": {
                  "Condition_Profile_Exists": [
                    "Succeeded"
                  ]
                }
              },
              "Condition_Profile_Exists": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(outputs('List_SenderProfile')?['body/value'])",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "Update_SenderProfile": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_senderprofiles",
                        "recordId": "@first(outputs('List_SenderProfile')?['body/value'])?['cr_senderprofileid']",
                        "item/cr_senderemail": "@outputs('Compose_OrganizerEmail')",
                        "item/cr_senderdisplayname": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['name'], outputs('Compose_OrganizerEmail'))",
                        "item/cr_signalcount": "@add(first(outputs('List_SenderProfile')?['body/value'])?['cr_signalcount'], 1)",
                        "item/cr_lastsignaldate": "@utcNow()",
                        "item/cr_isinternal": "@contains(toLower(coalesce(outputs('Compose_OrganizerEmail'), '')), toLower(split(outputs('Get_my_profile_(V2)')?['body/mail'], '@')[1]))"
                      },
                      "host": {
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')",
                      "retryPolicy": {
                        "type": "exponential",
                        "count": 3,
                        "interval": "PT10S",
                        "maximumInterval": "PT1M"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "Create_SenderProfile": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr_senderprofiles",
                          "item/cr_senderemail": "@outputs('Compose_OrganizerEmail')",
                          "item/cr_senderdisplayname": "@coalesce(items('Apply_to_each_event')?['organizer']?['emailAddress']?['name'], outputs('Compose_OrganizerEmail'))",
                          "item/cr_signalcount": 1,
                          "item/cr_responsecount": 0,
                          "item/cr_dismisscount": 0,
                          "item/cr_avgresponsehours": 0,
                          "item/cr_avgeditdistance": 0,
                          "item/cr_lastsignaldate": "@utcNow()",
                          "item/cr_isinternal": "@contains(toLower(coalesce(outputs('Compose_OrganizerEmail'), '')), toLower(split(outputs('Get_my_profile_(V2)')?['body/mail'], '@')[1]))"
                        },
                        "host": {
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 3,
                          "interval": "PT10S",
                          "maximumInterval": "PT1M"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "Condition_Not_Skip": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {
              "Filter_Events": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {}
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": {
              "flowName": "IWL-Flow-3-CalendarTrigger",
              "errorTimestamp": "@utcNow()",
              "errorMessage": "Calendar trigger flow failed during processing. Check run history for details."
            },
            "runAfter": {}
          },
          "Create_ErrorLog": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_errorlogs",
                "item/cr_flowname": "IWL-Flow-3-CalendarTrigger",
                "item/cr_errortimestamp": "@utcNow()",
                "item/cr_errormessage": "@{outputs('Compose_ErrorDetails')}",
                "item/cr_severity": "Error"
              },
              "host": {
                "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Process_Calendar": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    },
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "$authentication": {
        "defaultValue": {},
        "type": "SecureObject"
      }
    }
  }
}
