intelligent-work-layer/src/tool-search-teams-messages.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_an_agent_calls_the_flow": {
        "type": "Request",
        "kind": "PowerVirtualAgents",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "user_aad_id": {
                "type": "string",
                "description": "Azure AD object ID of the user whose Teams messages to search"
              },
              "query": {
                "type": "string",
                "description": "Search query to find Teams chat messages or channel posts"
              },
              "max_results": {
                "type": "integer",
                "description": "Maximum number of results to return (default 10)"
              }
            },
            "required": [
              "user_aad_id",
              "query"
            ]
          }
        },
        "description": "Search Teams chat messages and channel posts. Use for finding conversations, mentions, or meeting notes in Teams."
      }
    },
    "actions": {
      "Scope_Search": {
        "type": "Scope",
        "actions": {
          "Search_Teams": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "request/method": "GET",
                "request/url": "https://graph.microsoft.com/v1.0/me/chats/messages?$search=\"@{triggerBody()?['query']}\"&$top=@{coalesce(triggerBody()?['max_results'], 10)}"
              },
              "host": {
                "connectionName": "shared_webcontents",
                "operationId": "InvokeHttp",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
              }
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT5S",
              "minimumInterval": "PT5S",
              "maximumInterval": "PT1M"
            },
            "runAfter": {}
          },
          "Compose_Results": {
            "type": "Compose",
            "inputs": {
              "results": "@body('Search_Teams')?['value']",
              "count": "@length(body('Search_Teams')?['value'])"
            },
            "runAfter": {
              "Search_Teams": [
                "Succeeded"
              ]
            }
          },
          "Respond_to_the_agent": {
            "type": "Request",
            "kind": "PowerVirtualAgentsResponseV2",
            "inputs": {
              "statusCode": 200,
              "body": {
                "results_json": "@{string(outputs('Compose_Results')?['results'])}",
                "result_count": "@outputs('Compose_Results')?['count']"
              },
              "schema": {
                "type": "object",
                "properties": {
                  "results_json": {
                    "type": "string"
                  },
                  "result_count": {
                    "type": "integer"
                  }
                }
              }
            },
            "runAfter": {
              "Compose_Results": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {}
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": {
              "error": "Search_Teams failed",
              "flow": "tool-search-teams-messages",
              "query": "@triggerBody()?['query']",
              "timestamp": "@utcNow()"
            },
            "runAfter": {}
          },
          "Respond_with_error": {
            "type": "Request",
            "kind": "PowerVirtualAgentsResponseV2",
            "inputs": {
              "statusCode": 200,
              "body": {
                "results_json": "[]",
                "result_count": 0
              },
              "schema": {
                "type": "object",
                "properties": {
                  "results_json": {
                    "type": "string"
                  },
                  "result_count": {
                    "type": "integer"
                  }
                }
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "SearchFailed",
                "message": "@{string(outputs('Compose_ErrorDetails'))}"
              }
            },
            "runAfter": {
              "Respond_with_error": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Search": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  }
}
