intelligent-work-layer/src/tool-update-card.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_an_agent_calls_the_flow": {
        "type": "Request",
        "kind": "PowerVirtualAgents",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "card_id": {
                "type": "string",
                "description": "GUID of the assistant card row to update"
              },
              "update_json": {
                "type": "string",
                "description": "JSON string with field names and values to update (e.g. cr_priority, cr_cardoutcome, cr_humanizeddraft, cr_cardstatus, cr_outcometimestamp)"
              },
              "user_aad_id": {
                "type": "string",
                "description": "Azure AD object ID of the caller for ownership verification"
              }
            },
            "required": [
              "card_id",
              "update_json",
              "user_aad_id"
            ]
          }
        },
        "description": "Modify an assistant card's properties such as priority, outcome, draft text, or status."
      }
    },
    "actions": {
      "Scope_Main": {
        "type": "Scope",
        "actions": {
          "Get_Card_For_Auth": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_assistantcards",
                "recordId": "@triggerBody()?['card_id']"
              },
              "host": {
                "connectionName": "shared_commondataserviceforapps",
                "operationId": "GetItem",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {}
          },
          "Condition_Owner_Check": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@outputs('Get_Card_For_Auth')?['body/_ownerid_value']",
                    "@triggerBody()?['user_aad_id']"
                  ]
                }
              ]
            },
            "actions": {
              "Parse_Update_JSON": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@triggerBody()?['update_json']",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "cr_priority": {
                        "type": "integer"
                      },
                      "cr_cardoutcome": {
                        "type": "integer"
                      },
                      "cr_humanizeddraft": {
                        "type": "string"
                      },
                      "cr_cardstatus": {
                        "type": "integer"
                      },
                      "cr_outcometimestamp": {
                        "type": "string"
                      },
                      "cr_itemsummary": {
                        "type": "string"
                      },
                      "cr_confidencescore": {
                        "type": "number"
                      }
                    }
                  }
                },
                "runAfter": {}
              },
              "Update_Card": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_assistantcards",
                    "recordId": "@triggerBody()?['card_id']",
                    "item": "@outputs('Compose_Update_Payload')"
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                  }
                },
                "runAfter": {
                  "Compose_Update_Payload": [
                    "Succeeded"
                  ]
                }
              },
              "Respond_to_the_agent": {
                "type": "Request",
                "kind": "PowerVirtualAgentsResponseV2",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "success": true,
                    "card_id": "@{triggerBody()?['card_id']}"
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "description": "Whether the update succeeded"
                      },
                      "card_id": {
                        "type": "string",
                        "description": "GUID of the updated card"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Update_Card": [
                    "Succeeded"
                  ]
                }
              },
              "Compose_Update_Payload": {
                "type": "Compose",
                "inputs": "@removeProperty(removeProperty(removeProperty(removeProperty(removeProperty(removeProperty(removeProperty(body('Parse_Update_JSON'), if(equals(body('Parse_Update_JSON')?['cr_priority'], null), 'cr_priority', '__keep1__')), if(equals(body('Parse_Update_JSON')?['cr_cardoutcome'], null), 'cr_cardoutcome', '__keep2__')), if(equals(body('Parse_Update_JSON')?['cr_humanizeddraft'], null), 'cr_humanizeddraft', '__keep3__')), if(equals(body('Parse_Update_JSON')?['cr_cardstatus'], null), 'cr_cardstatus', '__keep4__')), if(equals(body('Parse_Update_JSON')?['cr_outcometimestamp'], null), 'cr_outcometimestamp', '__keep5__')), if(equals(body('Parse_Update_JSON')?['cr_itemsummary'], null), 'cr_itemsummary', '__keep6__')), if(equals(body('Parse_Update_JSON')?['cr_confidencescore'], null), 'cr_confidencescore', '__keep7__'))",
                "runAfter": {
                  "Parse_Update_JSON": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Respond_Unauthorized": {
                  "type": "Request",
                  "kind": "PowerVirtualAgentsResponseV2",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "success": false,
                      "card_id": "@{triggerBody()?['card_id']}",
                      "error": "Unauthorized: card belongs to a different user"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "card_id": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": {
              "Get_Card_For_Auth": [
                "Succeeded"
              ]
            }
          }
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": "Tool error: @{result('Scope_Main')}"
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "ToolError",
                "message": "@{outputs('Compose_ErrorDetails')}"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          },
          "Create_ErrorLog": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_errorlogs",
                "item/cr_flowname": "IWL-Tool-UpdateCard",
                "item/cr_errortimestamp": "@utcNow()",
                "item/cr_errormessage": "@{outputs('Compose_ErrorDetails')}",
                "item/cr_severity": "Error"
              },
              "host": {
                "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "connectionName": "shared_commondataserviceforapps"
              },
              "retryPolicy": {
                "type": "exponential",
                "count": 3,
                "interval": "PT10S",
                "maximumInterval": "PT1M"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Main": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  }
}
