email-productivity-agent/src/flow-4-auto-unsnooze.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_a_new_email_arrives_(V3)": {
        "type": "OpenApiConnectionNotification",
        "inputs": {
          "parameters": {
            "folderPath": "Inbox",
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "includeAttachments": false,
            "subjectFilter": ""
          },
          "host": {
            "connectionName": "shared_office365",
            "operationId": "OnNewEmailV3",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
          }
        },
        "splitOn": "@triggerOutputs()?['body/value']"
      }
    },
    "actions": {
      "Compose_newConversationId": {
        "type": "Compose",
        "inputs": "@triggerOutputs()?['body/conversationId']",
        "runAfter": {}
      },
      "Get_my_profile_(V2)": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {},
          "host": {
            "connectionName": "shared_office365users",
            "operationId": "MyProfile_V2",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
          }
        },
        "runAfter": {
          "Compose_newConversationId": [
            "Succeeded"
          ]
        }
      },
      "List_Matching_Snoozed": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_snoozedconversations",
            "$filter": "cr_conversationid eq '@{outputs('Compose_newConversationId')}' and cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}' and cr_unsnoozedbyagent eq false",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Get_my_profile_(V2)": [
            "Succeeded"
          ]
        }
      },
      "Condition_No_Match": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@length(outputs('List_Matching_Snoozed')?['body/value'])",
                0
              ]
            }
          ]
        },
        "actions": {
          "Terminate_No_Match": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "List_Matching_Snoozed": [
            "Succeeded"
          ]
        }
      },
      "Compose_snoozedRow": {
        "type": "Compose",
        "inputs": "@first(outputs('List_Matching_Snoozed')?['body/value'])",
        "runAfter": {
          "Condition_No_Match": [
            "Succeeded"
          ]
        }
      },
      "Init_userTimeZone": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "userTimeZone",
              "type": "string",
              "value": "UTC"
            }
          ]
        },
        "runAfter": {
          "Compose_snoozedRow": [
            "Succeeded"
          ]
        }
      },
      "Init_unsnoozeAction": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "unsnoozeAction",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Init_userTimeZone": [
            "Succeeded"
          ]
        }
      },
      "Init_notificationMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "notificationMessage",
              "type": "string",
              "value": "@concat('\ud83d\udcec Unsnoozed: ', outputs('Compose_snoozedRow')?['cr_originalsubject'], ' \u2014 new reply from ', triggerOutputs()?['body/from']?['emailAddress']?['name'])"
            }
          ]
        },
        "runAfter": {
          "Init_unsnoozeAction": [
            "Succeeded"
          ]
        }
      },
      "Scope_Auto_Unsnooze": {
        "type": "Scope",
        "actions": {
          "Scope_Resolve_User_Timezone": {
            "type": "Scope",
            "actions": {
              "HTTP_Get_MailboxSettings": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "request/method": "GET",
                    "request/url": "/v1.0/me/mailboxSettings?$select=timeZone"
                  },
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                  }
                }
              },
              "Set_userTimeZone_From_MailboxSettings": {
                "type": "SetVariable",
                "inputs": {
                  "name": "userTimeZone",
                  "value": "@coalesce(body('HTTP_Get_MailboxSettings')?['timeZone'], 'UTC')"
                },
                "runAfter": {
                  "HTTP_Get_MailboxSettings": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "Scope_Ignore_Timezone_Error": {
            "type": "Scope",
            "actions": {
              "Compose_Timezone_Fallback": {
                "type": "Compose",
                "inputs": "Proceeding with UTC fallback for snooze agent timezone resolution."
              }
            },
            "runAfter": {
              "Scope_Resolve_User_Timezone": [
                "Failed",
                "TimedOut"
              ]
            }
          },
          "Scope_Agent_Decision": {
            "type": "Scope",
            "actions": {
              "Compose_SnoozeAgentPayload": {
                "type": "Compose",
                "inputs": {
                  "CONVERSATION_ID": "@{outputs('Compose_snoozedRow')?['cr_conversationid']}",
                  "NEW_MESSAGE_SENDER": "@{triggerOutputs()?['body/from']?['emailAddress']?['address']}",
                  "NEW_MESSAGE_SENDER_NAME": "@{triggerOutputs()?['body/from']?['emailAddress']?['name']}",
                  "NEW_MESSAGE_SUBJECT": "@{triggerOutputs()?['body/subject']}",
                  "NEW_MESSAGE_EXCERPT": "@{take(coalesce(triggerOutputs()?['body/bodyPreview'], ''), 500)}",
                  "SNOOZED_SUBJECT": "@{outputs('Compose_snoozedRow')?['cr_originalsubject']}",
                  "SNOOZE_UNTIL": "@{outputs('Compose_snoozedRow')?['cr_snoozeuntil']}",
                  "USER_TIMEZONE": "@{variables('userTimeZone')}",
                  "CURRENT_DATETIME": "@{utcNow()}"
                }
              },
              "Execute_Snooze_Agent": {
                "type": "OpenApiConnectionWebhook",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                    "connectionName": "shared_microsoftcopilotstudio",
                    "operationId": "ExecuteCopilotAsyncV2"
                  },
                  "parameters": {
                    "Copilot": "cr_emailproductivityagent",
                    "body/message": "@{string(outputs('Compose_SnoozeAgentPayload'))}"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runAfter": {
                  "Compose_SnoozeAgentPayload": [
                    "Succeeded"
                  ]
                }
              },
              "Parse_Snooze_Agent_Response": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@json(outputs('Execute_Snooze_Agent')?['body/lastResponse'])",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "unsnoozeAction": {
                        "type": "string"
                      },
                      "suppressReason": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "notificationMessage": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "urgency": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "confidence": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "unsnoozeAction"
                    ]
                  }
                },
                "runAfter": {
                  "Execute_Snooze_Agent": [
                    "Succeeded"
                  ]
                }
              },
              "Set_unsnoozeAction_From_Agent": {
                "type": "SetVariable",
                "inputs": {
                  "name": "unsnoozeAction",
                  "value": "@body('Parse_Snooze_Agent_Response')?['unsnoozeAction']"
                },
                "runAfter": {
                  "Parse_Snooze_Agent_Response": [
                    "Succeeded"
                  ]
                }
              },
              "Set_notificationMessage_From_Agent": {
                "type": "SetVariable",
                "inputs": {
                  "name": "notificationMessage",
                  "value": "@body('Parse_Snooze_Agent_Response')?['notificationMessage']"
                },
                "runAfter": {
                  "Set_unsnoozeAction_From_Agent": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {
              "Scope_Resolve_User_Timezone": [
                "Succeeded",
                "Failed",
                "TimedOut"
              ],
              "Scope_Ignore_Timezone_Error": [
                "Succeeded",
                "Skipped"
              ]
            }
          },
          "Scope_Ignore_Agent_Error": {
            "type": "Scope",
            "actions": {
              "Compose_Agent_Fallback": {
                "type": "Compose",
                "inputs": "Agent call failed; defaulting to UNSNOOZE for fail-open safety."
              },
              "Set_unsnoozeAction_Fallback": {
                "type": "SetVariable",
                "inputs": {
                  "name": "unsnoozeAction",
                  "value": "UNSNOOZE"
                },
                "runAfter": {
                  "Compose_Agent_Fallback": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {
              "Scope_Agent_Decision": [
                "Failed",
                "TimedOut"
              ]
            }
          },
          "Condition_Suppress_Unsnooze": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@variables('unsnoozeAction')",
                    "SUPPRESS"
                  ]
                }
              ]
            },
            "actions": {
              "Compose_Suppressed": {
                "type": "Compose",
                "inputs": "@concat('Snooze agent suppressed unsnoozing for ', outputs('Compose_snoozedRow')?['cr_originalsubject'])"
              }
            },
            "else": {
              "actions": {
                "HTTP_Move_To_Inbox": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "/v1.0/me/messages/@{outputs('Compose_snoozedRow')?['cr_originalmessageid']}/move",
                      "request/body": {
                        "destinationId": "inbox"
                      }
                    },
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 3,
                      "interval": "PT10S",
                      "maximumInterval": "PT1M"
                    }
                  },
                  "runAfter": {}
                },
                "Compose_newMessageId": {
                  "type": "Compose",
                  "inputs": "@body('HTTP_Move_To_Inbox')?['id']",
                  "runAfter": {
                    "HTTP_Move_To_Inbox": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_SnoozedConversation": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr_snoozedconversations",
                      "recordId": "@outputs('Compose_snoozedRow')?['cr_snoozedconversationid']",
                      "item/cr_unsnoozedbyagent": true,
                      "item/cr_unsnoozeddatetime": "@utcNow()",
                      "item/cr_originalmessageid": "@outputs('Compose_newMessageId')",
                      "item/cr_currentfolder": "inbox"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Compose_newMessageId": [
                      "Succeeded"
                    ]
                  }
                },
                "Post_Unsnooze_Notification": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Chat with Flow bot",
                      "body/recipient": "@{coalesce(outputs('Get_my_profile_(V2)')?['body/mail'], outputs('Get_my_profile_(V2)')?['body/userPrincipalName'])}",
                      "body/messageBody": "@{variables('notificationMessage')}"
                    },
                    "host": {
                      "connectionName": "shared_teams",
                      "operationId": "PostMessageToConversation",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                    }
                  },
                  "runAfter": {
                    "Update_SnoozedConversation": [
                      "Succeeded"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "Scope_Agent_Decision": [
                "Succeeded",
                "Failed",
                "TimedOut"
              ],
              "Scope_Ignore_Agent_Error": [
                "Succeeded",
                "Skipped"
              ]
            }
          }
        },
        "runAfter": {
          "Init_notificationMessage": [
            "Succeeded"
          ]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": "Flow 4 auto-unsnooze error: @{result('Scope_Auto_Unsnooze')}"
          },
          "Condition_Move_404": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "contains": [
                    "@string(result('Scope_Auto_Unsnooze'))",
                    "404"
                  ]
                }
              ]
            },
            "actions": {
              "Mark_As_Handled": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_snoozedconversations",
                    "recordId": "@outputs('Compose_snoozedRow')?['cr_snoozedconversationid']",
                    "item/cr_unsnoozedbyagent": true
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "FlowError",
                "message": "@{outputs('Compose_ErrorDetails')}"
              }
            },
            "runAfter": {
              "Condition_Move_404": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Auto_Unsnooze": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 4: Auto-Unsnooze",
    "description": "Event-driven: when a new email arrives in Inbox, checks if it matches a snoozed conversation, auto-unsnoozes the message back to Inbox, and notifies the user in Teams.",
    "requiredConnections": [
      "shared_office365 (Office 365 Outlook)",
      "shared_office365users (Office 365 Users)",
      "shared_commondataserviceforapps (Microsoft Dataverse)",
      "shared_webcontents (HTTP with Microsoft Entra ID — Base: https://graph.microsoft.com)",
      "shared_teams (Microsoft Teams)",
      "shared_microsoftcopilotstudio (Microsoft Copilot Studio)"
    ],
    "notes": {
      "agentDecisioning": "Flow 4 invokes the live Copilot Studio Snooze Agent via ExecuteAgentAndWait to decide UNSNOOZE vs SUPPRESS. Falls back to UNSNOOZE if the agent call fails (fail-open).",
      "timezoneLookup": "The flow tries to read /me/mailboxSettings timeZone and falls back to UTC if mailbox settings are unavailable.",
      "messageIdInvalidation": "CRITICAL: Graph move operation invalidates the original message ID. The new ID from the response MUST be captured and stored in Dataverse.",
      "error404Handling": "If the snoozed message no longer exists (manually moved/deleted), marks the Dataverse row as handled to prevent infinite retries.",
      "teamsNotification": "Notification message is generated by the Snooze Agent when available, with a fallback to the default text template."
    }
  }
}
