email-productivity-agent/src/flow-2-response-detection.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_Daily_9AM": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": [
              "9"
            ],
            "minutes": [
              "0"
            ]
          },
          "timeZone": "Eastern Standard Time"
        }
      }
    },
    "actions": {
      "Get_my_profile_(V2)": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {},
          "host": {
            "connectionName": "shared_office365users",
            "operationId": "MyProfile_V2",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
          }
        },
        "runAfter": {}
      },
      "Lookup_Dataverse_UserId": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "systemusers",
            "$filter": "azureactivedirectoryobjectid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}'",
            "$select": "systemuserid",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Get_my_profile_(V2)": [
            "Succeeded"
          ]
        }
      },
      "List_NudgeConfig": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_nudgeconfigurations",
            "$filter": "cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}'",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Lookup_Dataverse_UserId": [
            "Succeeded"
          ]
        }
      },
      "Condition_Nudges_Enabled": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(outputs('List_NudgeConfig')?['body/value'])",
                0
              ]
            },
            {
              "equals": [
                "@first(outputs('List_NudgeConfig')?['body/value'])?['cr_nudgesenabled']",
                true
              ]
            }
          ]
        },
        "actions": {},
        "else": {
          "actions": {
            "Terminate_Nudges_Disabled": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          }
        },
        "runAfter": {
          "List_NudgeConfig": [
            "Succeeded"
          ]
        }
      },
      "List_TodayHoliday": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_holidaycalendars",
            "$filter": "(cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}' or cr_isorgwide eq true) and cr_holidaydate eq @{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Condition_Nudges_Enabled": [
            "Succeeded"
          ]
        }
      },
      "Condition_Not_Holiday": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(outputs('List_TodayHoliday')?['body/value'])",
                0
              ]
            },
            {
              "equals": [
                "@coalesce(first(outputs('List_NudgeConfig')?['body/value'])?['cr_skipholidaynudges'], true)",
                true
              ]
            }
          ]
        },
        "actions": {
          "Terminate_Holiday_Skip": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "List_TodayHoliday": [
            "Succeeded"
          ]
        }
      },
      "List_Overdue_FollowUps": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_followuptrackings",
            "$filter": "_ownerid_value eq '@{first(outputs('Lookup_Dataverse_UserId')?['body/value'])?['systemuserid']}' and cr_responsereceived eq false and cr_nudgesent eq false and cr_dismissedbyuser eq false and cr_followupdate le @{utcNow()}",
            "$orderby": "cr_followupdate asc",
            "$top": 5000
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          }
        },
        "runAfter": {
          "Condition_Not_Holiday": [
            "Succeeded"
          ]
        }
      },
      "Scope_Process_FollowUps": {
        "type": "Scope",
        "actions": {
          "Apply_to_each": {
            "type": "Foreach",
            "foreach": "@outputs('List_Overdue_FollowUps')?['body/value']",
            "actions": {
              "HTTP_Check_Replies": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "request/method": "GET",
                    "request/url": "/v1.0/me/messages?$filter=conversationId eq '@{items('Apply_to_each')?['cr_conversationid']}' and receivedDateTime gt @{items('Apply_to_each')?['cr_sentdatetime']}&$select=from,receivedDateTime,internetMessageHeaders,subject&$top=20"
                  },
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                  }
                }
              },
              "Condition_HTTP_Success": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@outputs('HTTP_Check_Replies')?['statusCode']",
                        200
                      ]
                    }
                  ]
                },
                "actions": {
                  "Filter_Replies_By_Recipient": {
                    "type": "Query",
                    "inputs": {
                      "from": "@body('HTTP_Check_Replies')?['value']",
                      "where": "@equals(toLower(coalesce(item()?['from']?['emailAddress']?['address'], '')), toLower(coalesce(items('Apply_to_each')?['cr_recipientemail'], '')))"
                    }
                  },
                  "Filter_Exclude_AutoReplies": {
                    "type": "Query",
                    "inputs": {
                      "from": "@body('Filter_Replies_By_Recipient')",
                      "where": "@not(startsWith(coalesce(item()?['subject'], ''), 'Automatic reply:'))"
                    },
                    "runAfter": {
                      "Filter_Replies_By_Recipient": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Condition_Reply_Found": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(body('Filter_Exclude_AutoReplies'))",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Update_Row_Reply_Received": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_followuptrackings",
                            "recordId": "@items('Apply_to_each')?['cr_followuptrackingid']",
                            "item/cr_responsereceived": true,
                            "item/cr_lastchecked": "@utcNow()"
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Requery_Row_Guard": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr_followuptrackings",
                              "recordId": "@items('Apply_to_each')?['cr_followuptrackingid']"
                            },
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            }
                          }
                        },
                        "Condition_Still_Pending": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@outputs('Requery_Row_Guard')?['body/cr_responsereceived']",
                                  false
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Requery_Row_Guard')?['body/cr_nudgesent']",
                                  false
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Requery_Row_Guard')?['body/cr_dismissedbyuser']",
                                  false
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Get_Thread_Preview": {
                              "type": "Compose",
                              "inputs": "@coalesce(items('Apply_to_each')?['cr_originalsubject'], '(No Subject)')"
                            },
                            "Compose_ThreadExcerpt": {
                              "type": "Compose",
                              "inputs": "@outputs('Get_Thread_Preview')",
                              "runAfter": {
                                "Get_Thread_Preview": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Compose_DaysSinceSent": {
                              "type": "Compose",
                              "inputs": "@if(empty(items('Apply_to_each')?['cr_sentdatetime']), 0, div(sub(ticks(utcNow()), ticks(items('Apply_to_each')?['cr_sentdatetime'])), 864000000000))",
                              "runAfter": {
                                "Compose_ThreadExcerpt": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Execute_Agent_and_wait": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "botId": "@parameters('epa_CopilotBotId')",
                                  "message": "Evaluate this email for follow-up nudge.",
                                  "inputData": {
                                    "CONVERSATION_ID": "@{items('Apply_to_each')?['cr_conversationid']}",
                                    "ORIGINAL_SUBJECT": "@{items('Apply_to_each')?['cr_originalsubject']}",
                                    "RECIPIENT_EMAIL": "@{items('Apply_to_each')?['cr_recipientemail']}",
                                    "RECIPIENT_TYPE": "@{coalesce(items('Apply_to_each')?['cr_recipienttype'], 'General')}",
                                    "DAYS_SINCE_SENT": "@{outputs('Compose_DaysSinceSent')}",
                                    "THREAD_EXCERPT": "@{outputs('Compose_ThreadExcerpt')}",
                                    "USER_DISPLAY_NAME": "@{outputs('Get_my_profile_(V2)')?['body/displayName']}"
                                  }
                                },
                                "host": {
                                  "connectionName": "shared_microsoftcopilotstudio",
                                  "operationId": "ExecuteAgentAndWait",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio"
                                },
                                "retryPolicy": {
                                  "type": "exponential",
                                  "count": 3,
                                  "interval": "PT10S",
                                  "maximumInterval": "PT1M"
                                }
                              },
                              "runAfter": {
                                "Compose_DaysSinceSent": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Compose_AgentResponseJSON": {
                              "type": "Compose",
                              "inputs": "@coalesce(outputs('Execute_Agent_and_wait')?['body/lastResponse'], string(outputs('Execute_Agent_and_wait')?['body']))",
                              "runAfter": {
                                "Execute_Agent_and_wait": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Parse_AgentResponse": {
                              "type": "ParseJson",
                              "inputs": {
                                "content": "@json(outputs('Compose_AgentResponseJSON'))",
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "nudgeAction": {
                                      "type": "string"
                                    },
                                    "skipReason": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "threadSummary": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "suggestedDraft": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nudgePriority": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "confidence": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "nudgeAction",
                                    "confidence"
                                  ]
                                }
                              },
                              "runAfter": {
                                "Compose_AgentResponseJSON": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Condition_Agent_Says_Skip": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@body('Parse_AgentResponse')?['nudgeAction']",
                                      "SKIP"
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Update_Row_Agent_Skipped": {
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "entityName": "cr_followuptrackings",
                                      "recordId": "@items('Apply_to_each')?['cr_followuptrackingid']",
                                      "item/cr_dismissedbyuser": true,
                                      "item/cr_lastchecked": "@utcNow()"
                                    },
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    }
                                  }
                                }
                              },
                              "else": {
                                "actions": {
                                  "Compose_SuggestedDraftPreview": {
                                    "type": "Compose",
                                    "inputs": "@if(greater(length(coalesce(body('Parse_AgentResponse')?['suggestedDraft'], '')), 500), concat(substring(body('Parse_AgentResponse')?['suggestedDraft'], 0, 500), '...'), coalesce(body('Parse_AgentResponse')?['suggestedDraft'], ''))"
                                  },
                                  "Compose_AdaptiveCard": {
                                    "type": "Compose",
                                    "inputs": {
                                      "type": "AdaptiveCard",
                                      "version": "1.4",
                                      "body": [
                                        {
                                          "type": "ColumnSet",
                                          "columns": [
                                            {
                                              "type": "Column",
                                              "width": "auto",
                                              "items": [
                                                {
                                                  "type": "TextBlock",
                                                  "text": "🔔",
                                                  "size": "Large"
                                                }
                                              ]
                                            },
                                            {
                                              "type": "Column",
                                              "width": "stretch",
                                              "items": [
                                                {
                                                  "type": "TextBlock",
                                                  "text": "Follow-Up Reminder",
                                                  "weight": "Bolder",
                                                  "size": "Medium",
                                                  "color": "Accent"
                                                },
                                                {
                                                  "type": "TextBlock",
                                                  "text": "No response received — consider following up",
                                                  "size": "Small",
                                                  "isSubtle": true,
                                                  "spacing": "None"
                                                }
                                              ]
                                            }
                                          ]
                                        },
                                        {
                                          "type": "Container",
                                          "style": "emphasis",
                                          "items": [
                                            {
                                              "type": "TextBlock",
                                              "text": "@{items('Apply_to_each')?['cr_originalsubject']}",
                                              "weight": "Bolder",
                                              "wrap": true
                                            },
                                            {
                                              "type": "FactSet",
                                              "facts": [
                                                {
                                                  "title": "To",
                                                  "value": "@{items('Apply_to_each')?['cr_recipientemail']}"
                                                },
                                                {
                                                  "title": "Sent",
                                                  "value": "@{if(empty(items('Apply_to_each')?['cr_sentdatetime']), 'N/A', formatDateTime(items('Apply_to_each')?['cr_sentdatetime'], 'MMM dd, yyyy'))}"
                                                },
                                                {
                                                  "title": "Waiting",
                                                  "value": "@{outputs('Compose_DaysSinceSent')} days"
                                                },
                                                {
                                                  "title": "Priority",
                                                  "value": "@{body('Parse_AgentResponse')?['nudgePriority']}"
                                                }
                                              ]
                                            }
                                          ]
                                        },
                                        {
                                          "type": "TextBlock",
                                          "text": "**Thread Summary**",
                                          "spacing": "Medium"
                                        },
                                        {
                                          "type": "TextBlock",
                                          "text": "@{body('Parse_AgentResponse')?['threadSummary']}",
                                          "wrap": true,
                                          "isSubtle": true
                                        },
                                        {
                                          "type": "TextBlock",
                                          "text": "**Suggested Follow-Up Preview**",
                                          "spacing": "Medium"
                                        },
                                        {
                                          "type": "TextBlock",
                                          "text": "⚠️ AI-generated draft — always verify content before sending",
                                          "size": "Small",
                                          "color": "Attention",
                                          "isSubtle": true,
                                          "spacing": "Small"
                                        },
                                        {
                                          "type": "TextBlock",
                                          "text": "@{outputs('Compose_SuggestedDraftPreview')}",
                                          "wrap": true,
                                          "maxLines": 6
                                        }
                                      ],
                                      "actions": [
                                        {
                                          "type": "Action.Submit",
                                          "title": "✏️ Draft Follow-Up",
                                          "data": {
                                            "action": "draft_followup",
                                            "trackingId": "@{items('Apply_to_each')?['cr_followuptrackingid']}",
                                            "recipientEmail": "@{items('Apply_to_each')?['cr_recipientemail']}",
                                            "conversationId": "@{items('Apply_to_each')?['cr_conversationid']}"
                                          }
                                        },
                                        {
                                          "type": "Action.Submit",
                                          "title": "⏰ Snooze 2 Days",
                                          "data": {
                                            "action": "snooze_nudge",
                                            "trackingId": "@{items('Apply_to_each')?['cr_followuptrackingid']}"
                                          }
                                        },
                                        {
                                          "type": "Action.Submit",
                                          "title": "✖️ Dismiss",
                                          "data": {
                                            "action": "dismiss_nudge",
                                            "trackingId": "@{items('Apply_to_each')?['cr_followuptrackingid']}"
                                          }
                                        }
                                      ]
                                    },
                                    "runAfter": {
                                      "Compose_SuggestedDraftPreview": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Post_Adaptive_Card_To_Teams": {
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "poster": "Flow bot",
                                        "location": "Chat with Flow bot",
                                        "body/recipient": "@{outputs('Get_my_profile_(V2)')?['body/mail']}",
                                        "body/messageBody": "@{outputs('Compose_AdaptiveCard')}",
                                        "body/isAlert": false,
                                        "CardTypeId": "epa_nudge_card"
                                      },
                                      "host": {
                                        "connectionName": "shared_teams",
                                        "operationId": "PostCardToConversation",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                                      }
                                    },
                                    "runAfter": {
                                      "Compose_AdaptiveCard": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Update_Row_Nudge_Sent": {
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "entityName": "cr_followuptrackings",
                                        "recordId": "@items('Apply_to_each')?['cr_followuptrackingid']",
                                        "item/cr_nudgesent": true,
                                        "item/cr_lastchecked": "@utcNow()"
                                      },
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      }
                                    },
                                    "runAfter": {
                                      "Post_Adaptive_Card_To_Teams": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Parse_AgentResponse": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "runAfter": {
                            "Requery_Row_Guard": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_Exclude_AutoReplies": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "HTTP_Check_Replies": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 5
              }
            }
          }
        },
        "runAfter": {
          "List_Overdue_FollowUps": [
            "Succeeded"
          ]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": "Flow 2 error: @{result('Scope_Process_FollowUps')}"
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "FlowError",
                "message": "@{outputs('Compose_ErrorDetails')}"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_Process_FollowUps": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 2: Response Detection & Nudge Delivery",
    "description": "Daily 9 AM sweep: checks Graph API for replies to tracked emails, posts Teams adaptive cards for unreplied items.",
    "requiredConnections": [
      "shared_office365users (Office 365 Users)",
      "shared_commondataserviceforapps (Microsoft Dataverse)",
      "shared_webcontents (HTTP with Microsoft Entra ID — Base: https://graph.microsoft.com)",
      "shared_teams (Microsoft Teams)",
      "shared_microsoftcopilotstudio (Microsoft Copilot Studio)"
    ],
    "parameters": {
      "epa_CopilotBotId": "Bot ID returned by provision-copilot.ps1. Injected at deploy time by deploy-agent-flows.ps1."
    },
    "notes": {
      "agentInvocation": "Flow 2 invokes the Follow-Up Nudge topic in Copilot Studio via ExecuteAgentAndWait. The agent evaluates thread context and returns structured JSON with nudgeAction, threadSummary, suggestedDraft, nudgePriority, and confidence.",
      "timeZone": "Default is Eastern Standard Time. Change recurrence.timeZone for other regions.",
      "threadPreviewNote": "THREAD_EXCERPT currently passes cr_originalsubject as a fallback. For richer agent context, replace Get_Thread_Preview with a Graph API query: GET /me/messages?$filter=conversationId eq '{id}'&$select=bodyPreview&$orderby=receivedDateTime desc&$top=3, then join bodyPreview values."
    }
  }
}