email-productivity-agent/src/flow-5-data-retention.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence_Weekly_Sunday_2AM": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Week",
          "interval": 1,
          "schedule": {
            "weekDays": ["Sunday"],
            "hours": ["2"],
            "minutes": ["0"]
          },
          "timeZone": "Eastern Standard Time"
        }
      }
    },
    "actions": {
      "List_Resolved_Old_Rows": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_followuptrackings",
            "$filter": "(cr_responsereceived eq true or cr_dismissedbyuser eq true) and createdon lt @{addDays(utcNow(), -90)}",
            "$top": 100
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {}
      },
      "Scope_Delete_Old_Records": {
        "type": "Scope",
        "actions": {
          "Apply_to_each": {
            "type": "Foreach",
            "foreach": "@outputs('List_Resolved_Old_Rows')?['body/value']",
            "actions": {
              "Delete_Row": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@items('Apply_to_each')?['cr_followuptrackingid']"
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "DeleteRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "List_Resolved_Old_Rows": ["Succeeded"]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": "Flow 5 retention cleanup error: @{result('Scope_Delete_Old_Records')}"
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded",
              "runError": {
                "message": "Retention cleanup completed with errors"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Scope_Delete_Old_Records": ["Failed", "TimedOut"]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 5: Data Retention Cleanup",
    "description": "Weekly Sunday 2 AM: purges resolved/dismissed follow-up tracking rows older than 90 days.",
    "requiredConnections": [
      "shared_commondataserviceforapps (Microsoft Dataverse)"
    ],
    "notes": {
      "retentionDays": "Default 90 days. Change the -90 in the filter expression to adjust.",
      "batchSize": "Processes 100 rows per run. For large backlogs, run manually or increase $top.",
      "timeZone": "Default is Eastern Standard Time. Change recurrence.timeZone for other regions."
    }
  }
}
