email-productivity-agent/src/flow-2b-card-action-handler.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_someone_responds_to_an_adaptive_card": {
        "type": "OpenApiConnectionWebhook",
        "inputs": {
          "parameters": {
            "inputsAdaptiveCard": "{}",
            "CardTypeId": "epa_nudge_card"
          },
          "host": {
            "connectionName": "shared_teams",
            "operationId": "TeamsCardTrigger",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
          }
        }
      }
    },
    "actions": {
      "Parse_Card_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerOutputs()?['body/data']",
          "schema": {
            "type": "object",
            "properties": {
              "action": { "type": "string" },
              "trackingId": { "type": "string" },
              "conversationId": { "type": "string" },
              "recipientEmail": { "type": "string" }
            },
            "required": ["action", "trackingId"]
          }
        },
        "runAfter": {}
      },
      "Switch_On_Action": {
        "type": "Switch",
        "expression": "@body('Parse_Card_Response')?['action']",
        "cases": {
          "Case_Dismiss": {
            "case": "dismiss_nudge",
            "actions": {
              "Update_Dismissed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@body('Parse_Card_Response')?['trackingId']",
                    "item/cr_dismissedbyuser": true
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Reply_Dismissed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerOutputs()?['body/responder/email'], triggerOutputs()?['body/responder/userPrincipalName'])}",
                    "body/messageBody": "✅ Nudge dismissed."
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                },
                "runAfter": {
                  "Update_Dismissed": ["Succeeded"]
                }
              }
            }
          },
          "Case_Snooze": {
            "case": "snooze_nudge",
            "actions": {
              "Update_Snoozed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@body('Parse_Card_Response')?['trackingId']",
                    "item/cr_followupdate": "@addDays(utcNow(), 2)",
                    "item/cr_nudgesent": false
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Reply_Snoozed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerOutputs()?['body/responder/email'], triggerOutputs()?['body/responder/userPrincipalName'])}",
                    "body/messageBody": "⏰ Snoozed for 2 days. You'll be reminded again on @{formatDateTime(addDays(utcNow(), 2), 'MMM dd')}."
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                },
                "runAfter": {
                  "Update_Snoozed": ["Succeeded"]
                }
              }
            }
          },
          "Case_Draft": {
            "case": "draft_followup",
            "actions": {
              "Get_Tracking_Record": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@body('Parse_Card_Response')?['trackingId']",
                    "$select": "cr_conversationid,cr_originalsubject,cr_recipientemail,cr_recipienttype,cr_sentdatetime"
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Compose_DraftDaysSinceSent": {
                "type": "Compose",
                "inputs": "@if(empty(outputs('Get_Tracking_Record')?['body/cr_sentdatetime']), 0, div(sub(ticks(utcNow()), ticks(outputs('Get_Tracking_Record')?['body/cr_sentdatetime'])), 864000000000))",
                "runAfter": {
                  "Get_Tracking_Record": ["Succeeded"]
                }
              },
              "Execute_Draft_Agent": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "botId": "@parameters('epa_CopilotBotId')",
                    "message": "Generate a complete follow-up email draft for this unreplied thread.",
                    "inputData": {
                      "CONVERSATION_ID": "@{outputs('Get_Tracking_Record')?['body/cr_conversationid']}",
                      "ORIGINAL_SUBJECT": "@{outputs('Get_Tracking_Record')?['body/cr_originalsubject']}",
                      "RECIPIENT_EMAIL": "@{outputs('Get_Tracking_Record')?['body/cr_recipientemail']}",
                      "RECIPIENT_TYPE": "@{coalesce(outputs('Get_Tracking_Record')?['body/cr_recipienttype'], 'General')}",
                      "DAYS_SINCE_SENT": "@{outputs('Compose_DraftDaysSinceSent')}",
                      "THREAD_EXCERPT": "@{coalesce(outputs('Get_Tracking_Record')?['body/cr_originalsubject'], '(No Subject)')}",
                      "USER_DISPLAY_NAME": "@{coalesce(triggerOutputs()?['body/responder/name'], 'User')}"
                    }
                  },
                  "host": {
                    "connectionName": "shared_microsoftcopilotstudio",
                    "operationId": "ExecuteAgentAndWait",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 3,
                    "interval": "PT10S",
                    "maximumInterval": "PT1M"
                  }
                },
                "runAfter": {
                  "Compose_DraftDaysSinceSent": ["Succeeded"]
                }
              },
              "Parse_Draft_Response": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@json(coalesce(outputs('Execute_Draft_Agent')?['body/lastResponse'], string(outputs('Execute_Draft_Agent')?['body'])))",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "nudgeAction": { "type": "string" },
                      "suggestedDraft": { "type": ["string", "null"] },
                      "threadSummary": { "type": ["string", "null"] }
                    }
                  }
                },
                "runAfter": {
                  "Execute_Draft_Agent": ["Succeeded"]
                }
              },
              "Reply_With_Draft": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerOutputs()?['body/responder/email'], triggerOutputs()?['body/responder/userPrincipalName'])}",
                    "body/messageBody": "✏️ **Draft Follow-Up** to @{outputs('Get_Tracking_Record')?['body/cr_recipientemail']}<br><br>**Re: @{outputs('Get_Tracking_Record')?['body/cr_originalsubject']}**<br><br>@{coalesce(body('Parse_Draft_Response')?['suggestedDraft'], 'Unable to generate draft. Please compose your follow-up manually.')}<br><br>---<br>⚠️ <em>AI-generated — review and edit before sending.</em>"
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                },
                "runAfter": {
                  "Parse_Draft_Response": ["Succeeded"]
                }
              }
            }
          }
        },
        "default": {
          "actions": {}
        },
        "runAfter": {
          "Parse_Card_Response": ["Succeeded"]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Reply_Error": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "poster": "Flow bot",
                "location": "Chat with Flow bot",
                "body/recipient": "@{coalesce(triggerOutputs()?['body/responder/email'], triggerOutputs()?['body/responder/userPrincipalName'])}",
                "body/messageBody": "❌ Action couldn't be completed. Please try again."
              },
              "host": {
                "connectionName": "shared_teams",
                "operationId": "PostMessageToConversation",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
              }
            }
          }
        },
        "runAfter": {
          "Switch_On_Action": ["Failed", "TimedOut"]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 2b: Card Action Handler",
    "description": "Handles adaptive card button responses (Draft, Snooze, Dismiss) from Teams nudge cards posted by Flow 2.",
    "requiredConnections": [
      "shared_teams (Microsoft Teams)",
      "shared_commondataserviceforapps (Microsoft Dataverse)",
      "shared_microsoftcopilotstudio (Microsoft Copilot Studio)"
    ],
    "notes": {
      "draftAction": "The 'Draft Follow-Up' button invokes the Follow-Up Nudge agent via ExecuteAgentAndWait to generate a full email draft, then posts it to the user via Teams for review.",
      "trigger": "The 'When someone responds to an adaptive card' trigger fires for ALL adaptive card responses in Teams. If you have multiple flows posting cards, add a condition to check for the expected action values."
    }
  }
}
