email-productivity-agent/src/flow-9-card-action-test-harness.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "trackingId": {
                "type": "string"
              },
              "conversationId": {
                "type": "string"
              },
              "recipientEmail": {
                "type": "string"
              },
              "responderEmail": {
                "type": "string"
              },
              "responderUserPrincipalName": {
                "type": "string"
              }
            },
            "required": [
              "action",
              "trackingId",
              "responderEmail"
            ]
          }
        }
      }
    },
    "actions": {
      "Parse_Card_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()",
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "trackingId": {
                "type": "string"
              },
              "conversationId": {
                "type": "string"
              },
              "recipientEmail": {
                "type": "string"
              }
            },
            "required": [
              "action",
              "trackingId"
            ]
          }
        },
        "runAfter": {}
      },
      "Switch_On_Action": {
        "type": "Switch",
        "expression": "@body('Parse_Card_Response')?['action']",
        "cases": {
          "Case_Dismiss": {
            "case": "dismiss_nudge",
            "actions": {
              "Update_Dismissed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@body('Parse_Card_Response')?['trackingId']",
                    "item/cr_dismissedbyuser": true
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Reply_Dismissed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
                    "body/messageBody": "\u2705 Nudge dismissed."
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                },
                "runAfter": {
                  "Update_Dismissed": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "Case_Snooze": {
            "case": "snooze_nudge",
            "actions": {
              "Update_Snoozed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_followuptrackings",
                    "recordId": "@body('Parse_Card_Response')?['trackingId']",
                    "item/cr_followupdate": "@addDays(utcNow(), 2)",
                    "item/cr_nudgesent": false
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Reply_Snoozed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
                    "body/messageBody": "\u23f0 Snoozed for 2 days. You'll be reminded again on @{formatDateTime(addDays(utcNow(), 2), 'MMM dd')}."
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                },
                "runAfter": {
                  "Update_Snoozed": [
                    "Succeeded"
                  ]
                }
              }
            }
          },
          "Case_Draft": {
            "case": "draft_followup",
            "actions": {
              "Reply_Draft_Placeholder": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
                    "body/messageBody": "\u270f\ufe0f Draft generation coming soon. For now, compose your follow-up to @{body('Parse_Card_Response')?['recipientEmail']} manually."
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                }
              }
            }
          }
        },
        "default": {
          "actions": {}
        },
        "runAfter": {
          "Parse_Card_Response": [
            "Succeeded"
          ]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Reply_Error": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "poster": "Flow bot",
                "location": "Chat with Flow bot",
                "body/recipient": "@{coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
                "body/messageBody": "\u274c Action couldn't be completed. Please try again."
              },
              "host": {
                "connectionName": "shared_teams",
                "operationId": "PostMessageToConversation",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
              }
            }
          }
        },
        "runAfter": {
          "Switch_On_Action": [
            "Failed",
            "TimedOut"
          ]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 9: Card Action Test Harness",
    "description": "HTTP-triggered harness for Flow 2b. Simulates Draft, Snooze, and Dismiss card actions without waiting for a Teams card click.",
    "requiredConnections": [
      "shared_teams (Microsoft Teams)",
      "shared_commondataserviceforapps (Microsoft Dataverse)"
    ],
    "notes": {
      "draftAction": "The 'Create Draft' button is a placeholder in MVP. To enable full AI drafting, add a Copilot agent invocation before the reply message that generates a complete email draft.",
      "trigger": "The 'When someone responds to an adaptive card' trigger fires for ALL adaptive card responses in Teams. If you have multiple flows posting cards, add a condition to check for the expected action values."
    }
  }
}
