email-productivity-agent/src/flow-10-settings-handler-test-harness.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "internalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "externalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "priorityDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "generalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "nudgesEnabled": {
                "type": [
                  "string",
                  "boolean"
                ]
              },
              "responderEmail": {
                "type": "string"
              },
              "responderUserPrincipalName": {
                "type": "string"
              }
            },
            "required": [
              "action",
              "responderEmail"
            ]
          }
        }
      }
    },
    "actions": {
      "Parse_Settings_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()",
          "schema": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string"
              },
              "internalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "externalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "priorityDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "generalDays": {
                "type": [
                  "number",
                  "string"
                ]
              },
              "nudgesEnabled": {
                "type": [
                  "string",
                  "boolean"
                ]
              }
            }
          }
        },
        "runAfter": {}
      },
      "Get_Responder_Profile": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "id": "@coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])"
          },
          "host": {
            "connectionName": "shared_office365users",
            "operationId": "UserProfile_V2",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
          }
        },
        "runAfter": {
          "Parse_Settings_Response": [
            "Succeeded"
          ]
        }
      },
      "Compose_Validated_Values": {
        "type": "Compose",
        "inputs": {
          "internalDays": "@min(30, max(1, int(coalesce(body('Parse_Settings_Response')?['internalDays'], '3'))))",
          "externalDays": "@min(30, max(1, int(coalesce(body('Parse_Settings_Response')?['externalDays'], '5'))))",
          "priorityDays": "@min(30, max(1, int(coalesce(body('Parse_Settings_Response')?['priorityDays'], '1'))))",
          "generalDays": "@min(30, max(1, int(coalesce(body('Parse_Settings_Response')?['generalDays'], '7'))))",
          "nudgesEnabled": "@equals(toLower(string(coalesce(body('Parse_Settings_Response')?['nudgesEnabled'], 'true'))), 'true')"
        },
        "runAfter": {
          "Get_Responder_Profile": [
            "Succeeded"
          ]
        }
      },
      "Condition_Is_Restore": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@body('Parse_Settings_Response')?['action']",
                "restore_defaults"
              ]
            }
          ]
        },
        "actions": {
          "Compose_Default_Values": {
            "type": "Compose",
            "inputs": {
              "internalDays": 3,
              "externalDays": 5,
              "priorityDays": 1,
              "generalDays": 7,
              "nudgesEnabled": true
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Compose_Validated_Values": [
            "Succeeded"
          ]
        }
      },
      "Upsert_NudgeConfiguration": {
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(outputs('List_Existing_Config')?['body/value'])",
                0
              ]
            }
          ]
        },
        "actions": {
          "Update_NudgeConfiguration": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_nudgeconfigurations",
                "recordId": "@first(outputs('List_Existing_Config')?['body/value'])?['cr_nudgeconfigurationid']",
                "item/cr_configlabel": "@{concat(coalesce(outputs('Get_Responder_Profile')?['body/displayName'], outputs('Get_Responder_Profile')?['body/mail'], outputs('Get_Responder_Profile')?['body/userPrincipalName'], 'User'), ' Nudge Config')}",
                "item/cr_owneruserid": "@{outputs('Get_Responder_Profile')?['body/id']}",
                "item/cr_internaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 3, outputs('Compose_Validated_Values')?['internalDays'])",
                "item/cr_externaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 5, outputs('Compose_Validated_Values')?['externalDays'])",
                "item/cr_prioritydays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 1, outputs('Compose_Validated_Values')?['priorityDays'])",
                "item/cr_generaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 7, outputs('Compose_Validated_Values')?['generalDays'])",
                "item/cr_nudgesenabled": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), true, outputs('Compose_Validated_Values')?['nudgesEnabled'])"
              },
              "host": {
                "connectionName": "shared_commondataserviceforapps",
                "operationId": "UpdateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
              }
            }
          }
        },
        "else": {
          "actions": {
            "Create_NudgeConfiguration": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr_nudgeconfigurations",
                  "item/cr_configlabel": "@{concat(coalesce(outputs('Get_Responder_Profile')?['body/displayName'], outputs('Get_Responder_Profile')?['body/mail'], outputs('Get_Responder_Profile')?['body/userPrincipalName'], 'User'), ' Nudge Config')}",
                  "item/cr_owneruserid": "@{outputs('Get_Responder_Profile')?['body/id']}",
                  "item/cr_internaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 3, outputs('Compose_Validated_Values')?['internalDays'])",
                  "item/cr_externaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 5, outputs('Compose_Validated_Values')?['externalDays'])",
                  "item/cr_prioritydays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 1, outputs('Compose_Validated_Values')?['priorityDays'])",
                  "item/cr_generaldays": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 7, outputs('Compose_Validated_Values')?['generalDays'])",
                  "item/cr_nudgesenabled": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), true, outputs('Compose_Validated_Values')?['nudgesEnabled'])"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            }
          }
        },
        "runAfter": {
          "Condition_Is_Restore": [
            "Succeeded"
          ],
          "List_Existing_Config": [
            "Succeeded"
          ]
        }
      },
      "Compose_Confirmation": {
        "type": "Compose",
        "inputs": "@if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), '\u2705 Settings restored to defaults (Internal: 3, External: 5, Priority: 1, General: 7 days, Nudges: ON)', concat('\u2705 Settings saved \u2014 Internal: ', if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), '3', outputs('Compose_Validated_Values')?['internalDays']), ', External: ', if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), '5', outputs('Compose_Validated_Values')?['externalDays']), ', Priority: ', if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), '1', outputs('Compose_Validated_Values')?['priorityDays']), ', General: ', if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), '7', outputs('Compose_Validated_Values')?['generalDays']), ' days, Nudges: ', if(equals(body('Parse_Settings_Response')?['action'], 'restore_defaults'), 'ON', if(outputs('Compose_Validated_Values')?['nudgesEnabled'], 'ON', 'OFF'))))",
        "runAfter": {
          "Upsert_NudgeConfiguration": [
            "Succeeded"
          ]
        }
      },
      "Reply_Confirmation": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "poster": "Flow bot",
            "location": "Chat with Flow bot",
            "body/recipient": "@{coalesce(outputs('Get_Responder_Profile')?['body/mail'], outputs('Get_Responder_Profile')?['body/userPrincipalName'], triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
            "body/messageBody": "@{outputs('Compose_Confirmation')}"
          },
          "host": {
            "connectionName": "shared_teams",
            "operationId": "PostMessageToConversation",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
          }
        },
        "runAfter": {
          "Compose_Confirmation": [
            "Succeeded"
          ]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_Error": {
            "type": "Compose",
            "inputs": "EPA Settings update failed. Please try again or contact your admin."
          },
          "Reply_Error": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "poster": "Flow bot",
                "location": "Chat with Flow bot",
                "body/recipient": "@{coalesce(triggerBody()?['responderEmail'], triggerBody()?['responderUserPrincipalName'])}",
                "body/messageBody": "@{outputs('Compose_Error')}"
              },
              "host": {
                "connectionName": "shared_teams",
                "operationId": "PostMessageToConversation",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
              }
            },
            "runAfter": {
              "Compose_Error": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Upsert_NudgeConfiguration": [
            "Failed",
            "TimedOut"
          ],
          "Reply_Confirmation": [
            "Failed",
            "TimedOut"
          ]
        }
      },
      "List_Existing_Config": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_nudgeconfigurations",
            "$filter": "cr_owneruserid eq '@{outputs('Get_Responder_Profile')?['body/id']}'",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Get_Responder_Profile": [
            "Succeeded"
          ]
        }
      }
    }
  },
  "_metadata": {
    "flowName": "EPA - Flow 10: Settings Handler Test Harness",
    "description": "HTTP-triggered harness for Flow 7b. Simulates settings card submissions so the Dataverse save/restore logic and confirmation messages can be tested from the CLI.",
    "requiredConnections": [
      "shared_office365users (Office 365 Users)",
      "shared_commondataserviceforapps (Microsoft Dataverse)",
      "shared_teams (Microsoft Teams)"
    ]
  }
}
