email-productivity-agent/src/flow-1-sent-items-tracker.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_a_new_email_arrives_(V3)": {
        "type": "OpenApiConnectionNotification",
        "inputs": {
          "parameters": {
            "folderPath": "SentItems",
            "importance": "Any",
            "fetchOnlyWithAttachment": false,
            "includeAttachments": false,
            "subjectFilter": ""
          },
          "host": {
            "connectionName": "shared_office365",
            "operationId": "OnNewEmailV3",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
          }
        },
        "splitOn": "@triggerOutputs()?['body/value']"
      }
    },
    "actions": {
      "Get_email_(V2)": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "messageId": "@triggerOutputs()?['body/id']"
          },
          "host": {
            "connectionName": "shared_office365",
            "operationId": "GetEmailV2",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
          }
        },
        "runAfter": {}
      },
      "Get_my_profile_(V2)": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {},
          "host": {
            "connectionName": "shared_office365users",
            "operationId": "MyProfile_V2",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
          }
        },
        "runAfter": {
          "Get_email_(V2)": ["Succeeded"]
        }
      },
      "Condition_Skip_Calendar": {
        "type": "If",
        "expression": {
          "and": [
            {
              "startsWith": [
                "@coalesce(outputs('Get_email_(V2)')?['body/itemClass'], '')",
                "IPM.Schedule"
              ]
            }
          ]
        },
        "actions": {
          "Terminate_Calendar": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Get_my_profile_(V2)": ["Succeeded"]
        }
      },
      "Condition_Skip_AutoReply": {
        "type": "If",
        "expression": {
          "or": [
            {
              "startsWith": [
                "@coalesce(outputs('Get_email_(V2)')?['body/subject'], '')",
                "Automatic reply:"
              ]
            }
          ]
        },
        "actions": {
          "Terminate_AutoReply": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Condition_Skip_Calendar": ["Succeeded"]
        }
      },
      "Init_recipientType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recipientType",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Condition_Skip_AutoReply": ["Succeeded"]
        }
      },
      "Init_userDomain": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "userDomain",
              "type": "string",
              "value": "@split(coalesce(outputs('Get_my_profile_(V2)')?['body/mail'], 'unknown@unknown'), '@')[1]"
            }
          ]
        },
        "runAfter": {
          "Init_recipientType": ["Succeeded"]
        }
      },
      "List_NudgeConfig": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_nudgeconfigurations",
            "$filter": "cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}'",
            "$top": 1
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Init_userDomain": ["Succeeded"]
        }
      },
      "Condition_Config_Exists": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@length(outputs('List_NudgeConfig')?['body/value'])",
                0
              ]
            }
          ]
        },
        "actions": {
          "Create_Default_NudgeConfig": {
            "type": "OpenApiConnection",
            "inputs": {
              "parameters": {
                "entityName": "cr_nudgeconfigurations",
                "item/cr_configlabel": "Default Nudge Config",
                "item/cr_internaldays": 3,
                "item/cr_externaldays": 5,
                "item/cr_prioritydays": 1,
                "item/cr_generaldays": 7,
                "item/cr_nudgesenabled": true,
                "item/cr_owneruserid": "@outputs('Get_my_profile_(V2)')?['body/id']"
              },
              "host": {
                "connectionName": "shared_commondataserviceforapps",
                "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
              }
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "List_NudgeConfig": ["Succeeded"]
        }
      },
      "List_PriorityContacts": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_prioritycontacts",
            "$filter": "cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}'",
            "$select": "cr_contactemail"
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "Condition_Config_Exists": ["Succeeded"]
        }
      },
      "List_Holidays": {
        "type": "OpenApiConnection",
        "inputs": {
          "parameters": {
            "entityName": "cr_holidaycalendars",
            "$filter": "(cr_owneruserid eq '@{outputs('Get_my_profile_(V2)')?['body/id']}' or cr_isorgwide eq true) and cr_holidaydate ge @{formatDateTime(utcNow(), 'yyyy-MM-dd')} and cr_holidaydate le @{formatDateTime(addDays(utcNow(), 45), 'yyyy-MM-dd')}",
            "$select": "cr_holidaydate",
            "$orderby": "cr_holidaydate asc"
          },
          "host": {
            "connectionName": "shared_commondataserviceforapps",
            "operationId": "ListRecords",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
          }
        },
        "runAfter": {
          "List_PriorityContacts": ["Succeeded"]
        }
      },
      "Compose_normalizedStartDate": {
        "type": "Compose",
        "inputs": "@if(empty(triggerOutputs()?['body/sentDateTime']), utcNow(), if(equals(dayOfWeek(triggerOutputs()?['body/sentDateTime']), 0), addDays(triggerOutputs()?['body/sentDateTime'], 1), if(equals(dayOfWeek(triggerOutputs()?['body/sentDateTime']), 6), addDays(triggerOutputs()?['body/sentDateTime'], 2), triggerOutputs()?['body/sentDateTime'])))",
        "runAfter": {
          "List_Holidays": ["Succeeded"]
        }
      },
      "Scope_Track_Recipients": {
        "type": "Scope",
        "actions": {
          "Compose_safeToRecipients": {
            "type": "Compose",
            "inputs": "@if(empty(outputs('Get_email_(V2)')?['body/toRecipients']), json('[]'), if(equals(outputs('Get_email_(V2)')?['body/toRecipients'], string(outputs('Get_email_(V2)')?['body/toRecipients'])), json(outputs('Get_email_(V2)')?['body/toRecipients']), outputs('Get_email_(V2)')?['body/toRecipients']))"
          },
          "Apply_to_each_recipient": {
            "type": "Foreach",
            "foreach": "@outputs('Compose_safeToRecipients')",
            "actions": {
              "Compose_recipientDomain": {
                "type": "Compose",
                "inputs": "@split(coalesce(items('Apply_to_each_recipient')?['emailAddress']?['address'], 'unknown@unknown'), '@')[1]"
              },
              "Filter_PriorityMatch": {
                "type": "Query",
                "inputs": {
                  "from": "@outputs('List_PriorityContacts')?['body/value']",
                  "where": "@equals(toLower(item()?['cr_contactemail']), toLower(items('Apply_to_each_recipient')?['emailAddress']?['address']))"
                },
                "runAfter": {
                  "Compose_recipientDomain": ["Succeeded"]
                }
              },
              "Set_recipientType": {
                "type": "SetVariable",
                "inputs": {
                  "name": "recipientType",
                  "value": "@if(greater(length(outputs('Filter_PriorityMatch')?['body']), 0), 'Priority', if(equals(outputs('Compose_recipientDomain'), variables('userDomain')), 'Internal', 'External'))"
                },
                "runAfter": {
                  "Filter_PriorityMatch": ["Succeeded"]
                }
              },
              "Compose_followUpDays": {
                "type": "Compose",
                "inputs": "@if(equals(variables('recipientType'), 'Internal'), if(greater(length(outputs('List_NudgeConfig')?['body/value']), 0), first(outputs('List_NudgeConfig')?['body/value'])?['cr_internaldays'], 3), if(equals(variables('recipientType'), 'External'), if(greater(length(outputs('List_NudgeConfig')?['body/value']), 0), first(outputs('List_NudgeConfig')?['body/value'])?['cr_externaldays'], 5), if(equals(variables('recipientType'), 'Priority'), if(greater(length(outputs('List_NudgeConfig')?['body/value']), 0), first(outputs('List_NudgeConfig')?['body/value'])?['cr_prioritydays'], 1), if(greater(length(outputs('List_NudgeConfig')?['body/value']), 0), first(outputs('List_NudgeConfig')?['body/value'])?['cr_generaldays'], 7))))",
                "runAfter": {
                  "Set_recipientType": ["Succeeded"]
                }
              },
              "Compose_followUpDate": {
                "type": "Compose",
                "inputs": "@addDays(outputs('Compose_normalizedStartDate'), add(int(outputs('Compose_followUpDays')), mul(2, div(add(int(outputs('Compose_followUpDays')), sub(dayOfWeek(outputs('Compose_normalizedStartDate')), 1)), 5))))",
                "runAfter": {
                  "Compose_followUpDays": ["Succeeded"]
                }
              },
              "Filter_WeekdayHolidays": {
                "type": "Query",
                "inputs": {
                  "from": "@outputs('List_Holidays')?['body/value']",
                  "where": "@and(not(equals(dayOfWeek(item()?['cr_holidaydate']), 0)), not(equals(dayOfWeek(item()?['cr_holidaydate']), 6)), greaterOrEquals(item()?['cr_holidaydate'], triggerOutputs()?['body/sentDateTime']), lessOrEquals(item()?['cr_holidaydate'], outputs('Compose_followUpDate')))"
                },
                "runAfter": {
                  "Compose_followUpDate": ["Succeeded"]
                }
              },
              "Compose_adjustedFollowUpDate": {
                "type": "Compose",
                "inputs": "@addDays(outputs('Compose_followUpDate'), length(body('Filter_WeekdayHolidays')))",
                "runAfter": {
                  "Filter_WeekdayHolidays": ["Succeeded"]
                }
              },
              "HTTP_Check_If_Group": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "request/method": "GET",
                    "request/url": "/v1.0/groups?$filter=mail eq '@{items('Apply_to_each_recipient')?['emailAddress']?['address']}'&$select=id,mail,displayName&$top=1"
                  },
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "retryPolicy": {
                    "type": "exponential",
                    "count": 2,
                    "interval": "PT5S",
                    "maximumInterval": "PT30S"
                  }
                },
                "runAfter": {
                  "Compose_adjustedFollowUpDate": ["Succeeded"]
                }
              },
              "Condition_Is_Distribution_List": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(coalesce(body('HTTP_Check_If_Group')?['value'], json('[]')))",
                        0
                      ]
                    }
                  ]
                },
                "actions": {
                  "HTTP_Get_Group_Members": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "request/method": "GET",
                        "request/url": "/v1.0/groups/@{first(body('HTTP_Check_If_Group')?['value'])?['id']}/members?$select=mail,displayName&$top=100"
                      },
                      "host": {
                        "connectionName": "shared_webcontents",
                        "operationId": "InvokeHttp",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                      }
                    }
                  },
                  "Apply_to_each_DL_member": {
                    "type": "Foreach",
                    "foreach": "@coalesce(body('HTTP_Get_Group_Members')?['value'], json('[]'))",
                    "actions": {
                      "Upsert_FollowUpTracking_DL_Member": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr_followuptrackings",
                            "recordId": "@{encodeURIComponent(concat('cr_sourcesignalid=''', encodeURIComponent(triggerOutputs()?['body/internetMessageId']), ''',cr_recipientemail=''', encodeURIComponent(items('Apply_to_each_DL_member')?['mail']), ''''))}",
                            "item/cr_sourcesignalid": "@triggerOutputs()?['body/internetMessageId']",
                            "item/cr_conversationid": "@triggerOutputs()?['body/conversationId']",
                            "item/cr_sentdatetime": "@triggerOutputs()?['body/sentDateTime']",
                            "item/cr_recipientemail": "@items('Apply_to_each_DL_member')?['mail']",
                            "item/cr_recipienttype": "@variables('recipientType')",
                            "item/cr_originalsubject": "@take(coalesce(triggerOutputs()?['body/subject'], '(No Subject)'), 400)",
                            "item/cr_followupdate": "@outputs('Compose_adjustedFollowUpDate')",
                            "item/cr_responsereceived": false,
                            "item/cr_nudgesent": false,
                            "item/cr_dismissedbyuser": false,
                            "item/cr_dlsourceemail": "@items('Apply_to_each_recipient')?['emailAddress']?['address']"
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "HTTP_Get_Group_Members": ["Succeeded"]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Upsert_FollowUpTracking": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr_followuptrackings",
                          "recordId": "@{encodeURIComponent(concat('cr_sourcesignalid=''', encodeURIComponent(triggerOutputs()?['body/internetMessageId']), ''',cr_recipientemail=''', encodeURIComponent(items('Apply_to_each_recipient')?['emailAddress']?['address']), ''''))}",
                          "item/cr_sourcesignalid": "@triggerOutputs()?['body/internetMessageId']",
                          "item/cr_conversationid": "@triggerOutputs()?['body/conversationId']",
                          "item/cr_sentdatetime": "@triggerOutputs()?['body/sentDateTime']",
                          "item/cr_recipientemail": "@items('Apply_to_each_recipient')?['emailAddress']?['address']",
                          "item/cr_recipienttype": "@variables('recipientType')",
                          "item/cr_originalsubject": "@take(coalesce(triggerOutputs()?['body/subject'], '(No Subject)'), 400)",
                          "item/cr_followupdate": "@outputs('Compose_adjustedFollowUpDate')",
                          "item/cr_responsereceived": false,
                          "item/cr_nudgesent": false,
                          "item/cr_dismissedbyuser": false
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        }
                      }
                    }
                  }
                },
                "runAfter": {
                  "HTTP_Check_If_Group": ["Succeeded"]
                }
              }
            },
            "runAfter": {
              "Compose_safeToRecipients": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Compose_normalizedStartDate": ["Succeeded"]
        }
      },
      "Scope_Handle_Errors": {
        "type": "Scope",
        "actions": {
          "Compose_ErrorDetails": {
            "type": "Compose",
            "inputs": "Flow 1 error: @{result('Scope_Track_Recipients')}"
          },
          "Terminate_Graceful": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "FlowError",
                "message": "@{outputs('Compose_ErrorDetails')}"
              }
            },
            "runAfter": {
              "Compose_ErrorDetails": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Scope_Track_Recipients": ["Failed", "TimedOut"]
        }
      }
    }
  }
}
